[2021-11-11 16:40] hakunanatasha opened #9 "Make properties of dataset classes more easily accessible"
Declare the attributes of each of the dataset classes in the `dataloader/utils/dataloaders`

[2022-01-21 21:58] hakunanatasha commented on #9
Deprecated for community hub approach

[2022-01-21 21:58] #9 closed

[2022-01-21 22:02] hakunanatasha opened #13 "Create dataset loader for BC5CDR"
From: https://biocreative.bioinformatics.udel.edu/resources/corpora/biocreative-v-cdr-corpus/

[2022-01-21 22:22] hakunanatasha opened #14 "Create dataset loader for AnatEM"
From http://nactem.ac.uk/anatomytagger/

[2022-01-21 22:22] hakunanatasha opened #15 "Create dataset loader for JNLPBA"
From http://www.geniaproject.org/shared-tasks/bionlp-jnlpba-shared-task-2004

[2022-01-21 22:23] hakunanatasha opened #16 "Create dataset loader for MuchMore"
From https://muchmore.dfki.de/resources1.htm

[2022-01-21 22:23] hakunanatasha opened #17 "Create dataset loader for BioASQ Task B (2014-2021)"
From http://participants-area.bioasq.org/general_information/Task9b/

[2022-01-21 22:24] hakunanatasha opened #18 "Create dataset loader for BioCreative II: Gene Mention Task"
From https://github.com/spyysalo/bc2gm-corpus/raw/master/conll/

[2022-01-21 22:24] hakunanatasha opened #19 "Create dataset loader for Chemprot"
From https://biocreative.bioinformatics.udel.edu/resources/corpora/chemprot-corpus-biocreative-vi/

[2022-01-21 22:24] hakunanatasha opened #20 "Create dataset loader for NCBI Disease Corpus"
From https://www.ncbi.nlm.nih.gov/CBBresearch/Dogan/DISEASE/

[2022-01-21 22:25] hakunanatasha opened #21 "Create dataset loader for BIOSSES"
From https://tabilab.cmpe.boun.edu.tr/BIOSSES/

[2022-01-21 22:25] hakunanatasha opened #22 "Create dataset loader for GENIA Term Corpus"
From http://www.geniaproject.org/genia-corpus/term-corpus

[2022-01-21 22:25] hakunanatasha opened #23 "Create dataset loader for GENIA Relation Corpus"
From http://www.geniaproject.org/genia-corpus/relation-corpus

[2022-01-21 22:26] hakunanatasha opened #24 "Create dataset loader for GENIA Coreference Corpus"
From http://www.geniaproject.org/genia-corpus/coreference

[2022-01-21 22:26] hakunanatasha opened #25 "Create dataset loader for PubMedQA"
From https://github.com/pubmedqa/pubmedqa

[2022-01-21 22:26] hakunanatasha opened #26 "Create dataset loader from MedMentions"
From https://github.com/chanzuckerberg/MedMentions

[2022-01-21 22:27] hakunanatasha opened #27 "Create dataset loader for S800 Corpus"
From https://species.jensenlab.org

[2022-01-21 22:27] hakunanatasha opened #28 "Create dataset loader for CHEMDNER"
From http://www.biocreative.org/resources/biocreative-iv/chemdner-corpus/

[2022-01-21 22:27] hakunanatasha opened #29 "Create dataset loader for health-fact"
From https://github.com/neemakot/Health-Fact-Checking/blob/master/data/DATASHEET.md

[2022-01-21 22:28] hakunanatasha opened #30 "Create dataset loader for SciTail"
From https://allenai.org/data/scitail

[2022-01-21 22:28] hakunanatasha opened #31 "Create dataset loader for n2c2 2006 - Smoking Status"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:28] hakunanatasha opened #32 "Create dataset loader for n2c2 2008 - Obesity"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:29] hakunanatasha opened #33 "Create dataset loader for n2c2 2009 - Medication"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:29] hakunanatasha opened #34 "Create dataset loader for n2c2 2011 - Coreference"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:30] hakunanatasha opened #35 "Create dataset loader from n2c2 2012 - Temporal Relations"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:30] hakunanatasha opened #36 "Create dataset loader for n2c2 2012 - Temporal Relations"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:30] #35 closed

[2022-01-21 22:30] hakunanatasha opened #37 "Create dataset loader for n2c2 2018 - Adverse Drug Events and Medication Extraction"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:31] hakunanatasha opened #38 "Create dataset loader for n2c2 2010 - Relations"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:31] hakunanatasha opened #39 "Create dataset loader for emrQA"
From https://github.com/panushri25/emrQA

[2022-01-21 22:31] hakunanatasha opened #40 "Create dataset loader for MEDIQA 2019 NLI"
From https://physionet.org/content/mednli-bionlp19/1.0.1/

[2022-01-21 22:32] hakunanatasha opened #41 "Create a dataset loader for ShAReCLEF 2014 Task 2"
From https://physionet.org/content/shareclefehealth2014task2/1.0/

[2022-01-21 22:32] hakunanatasha opened #42 "Create a dataset loader for RadGraph"
From https://physionet.org/content/radgraph/1.0.0/

[2022-01-21 22:32] hakunanatasha opened #43 "Create a dataset loader for MeDAL"
From https://github.com/BruceWen120/medal

[2022-01-21 22:33] hakunanatasha opened #44 "Create a dataset loader for MQP - Medical Question Pairs Dataset"
From https://github.com/curai/medical-question-pair-dataset

[2022-01-21 22:33] hakunanatasha opened #45 "Create a dataset loader for Why-QA"
From https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/

[2022-01-21 22:33] hakunanatasha opened #46 "Create a dataset loader for CLIP"
From https://physionet.org/content/mimic-iii-clinical-action/1.0.0/

[2022-01-21 22:34] hakunanatasha opened #47 "Create a dataset loader for DDI"
From https://github.com/isegura/DDICorpus

[2022-01-21 22:34] hakunanatasha opened #48 "Create a dataset loader for BioNLP Shared Task 2009"
From http://www.geniaproject.org/shared-tasks/bionlp-shared-task-2009

[2022-01-21 22:35] hakunanatasha opened #49 "Create a dataset loader for Scielo"
From https://sites.google.com/view/felipe-soares/datasets#h.p_92uSCyAjWSRB

[2022-01-21 22:35] hakunanatasha opened #50 "Create a dataset loader for SciCite"
From https://github.com/allenai/scicite

[2022-01-21 22:36] hakunanatasha opened #51 "Create a dataset loader for SCAI disease"
From http://www.scai.fraunhofer.de/disease-ae-corpus.html

[2022-01-21 22:36] hakunanatasha opened #52 "Create a dataset loader for SCAI chemical"
From http://www.scai.fraunhofer.de/chem-corpora.html

[2022-01-21 22:36] hakunanatasha opened #53 "Create a dataset loader for miRNA"
From https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics/downloads/download-mirna-test-corpus.html

[2022-01-21 22:36] hakunanatasha opened #54 "Create a dataset loader for IEPA"
From http://corpora.informatik.hu-berlin.de/corpora/brat2bioc/iepa_bioc.xml.zip

[2022-01-21 22:37] hakunanatasha opened #55 "Create a dataset loader for MEDIQA 2019 RQE"
From https://github.com/abachaa/MEDIQA2019/tree/master/MEDIQA_Task2_RQE

[2022-01-21 22:37] hakunanatasha opened #56 "Create a dataset loader for MASH-QA"
From https://github.com/mingzhu0527/MASHQA

[2022-01-21 22:37] hakunanatasha opened #57 "Create a dataset loader for PICO extraction"
From https://github.com/Markus-Zlabinger/pico-annotation

[2022-01-21 22:38] hakunanatasha opened #58 "Create a dataset loader for Hallmarks of Cancer"
From https://github.com/sb895/Hallmarks-of-Cancer

[2022-01-21 22:38] hakunanatasha opened #59 "Create a dataset loader for CEI"
From https://s-baker.net/resource/cei/

[2022-01-21 22:38] hakunanatasha opened #60 "Create a dataset loader for CRAFT"
Colorado Richly Annotated Full-Text (CRAFT) Corpus

https://github.com/UCDenver-ccp/CRAFT

[2022-01-21 22:39] hakunanatasha opened #61 "Create a dataset loader for SPL-ADR-200db - Adverse Drug Reactions"
From https://bionlp.nlm.nih.gov/tac2017adversereactions/

[2022-01-21 22:39] hakunanatasha opened #62 "Create a dataset loader for Nagel"
From http://sourceforge.net/projects/bionlp-corpora/files/ProteinResidue/

[2022-01-21 22:39] hakunanatasha opened #63 "Create a dataset loader for DIANN IberEval 2018"
From https://github.com/gildofabregat/DIANN-IBEREVAL-2018

[2022-01-21 22:39] hakunanatasha opened #64 "Create a dataset loader for CodiEsp"
From https://zenodo.org/record/3837305#.YL46cfdfjMU

[2022-01-21 22:40] hakunanatasha opened #65 "Create a dataset loader for eHealth-KD 2020"
From https://github.com/knowledge-learning/ehealthkd-2020

[2022-01-21 22:40] hakunanatasha opened #66 "Create a dataset loader for DrugSemantics Gold Standard"
From https://data.mendeley.com/datasets/fwc7jrc5jr/1

[2022-01-21 22:40] hakunanatasha opened #67 "Create a dataset loader for MoNERo"
From https://www.racai.ro/en/tools/text/

[2022-01-21 22:40] hakunanatasha opened #68 "Create a dataset loader for CLEF eHealth 2019, Task 1"
From https://www.openagrar.de/receive/openagrar_mods_00046540?lang=en

[2022-01-21 22:41] hakunanatasha opened #69 "Create a dataset loader for ESSAI"
From https://clementdalloux.fr/?page_id=28

[2022-01-21 22:41] hakunanatasha opened #70 "Create a dataset loader for CBLUE (Chinese Biomedical Language Understanding Evaluation Benchmark)"
From https://tianchi.aliyun.com/dataset/dataDetail?dataId=95414&lang=en-us

[2022-01-21 22:42] hakunanatasha opened #71 "Create a dataset loader for Hindi Health Dataset"
From https://www.kaggle.com/aijain/hindi-health-dataset/home

[2022-01-21 22:42] hakunanatasha opened #72 "Create a dataset loader for CANTEMIST (CANcer TExt Mining Shared Task)"
From https://temu.bsc.es/cantemist/

[2022-01-21 22:42] hakunanatasha opened #73 "Create a dataset loader for Swedish Medical NER"
From https://github.com/olofmogren/biomedical-ner-data-swedish

[2022-01-21 22:42] hakunanatasha opened #74 "Create a dataset loader for QUAERO"
From https://quaerofrenchmed.limsi.fr

[2022-01-24 19:45] galtay commented on #16
hello, i would like to work on this dataset please.

[2022-01-27 08:57] leonweber opened #75 "Create a dataset loader for MLEE"
From http://www.nactem.ac.uk/MLEE/

[2022-01-28 19:21] ruisi-su commented on #56
I added the loading script for this which I created by following the previous iteration of the hackathon doc.

[2022-01-29 23:55] galtay commented on #34
hello, i would like to take this task

[2022-01-30 14:31] sg-wbi opened #80 "Create a dataset loader for NLM-Chem"
- Task: NER, NEN, Document Indexing
- License: "This work is licensed under a CC0 1.0 Universal (CC0 1.0) Public Domain Dedication license."
- Format: BioC
- Language: English
- Citation:
@article{islamaj2021nlm,
  title={NLM-Chem, a new resource for chemical entity recognition in PubMed full text literature},
  author={Islamaj, Rezarta and Leaman, Robert and Kim, Sun and Kwon, Dongseop and Wei, C

[2022-02-02 19:53] bwang482 commented on #21
Created this a while ago: [](https://huggingface.co/datasets/biosses)

[2022-02-02 20:02] bwang482 commented on #31
Taking this.

[2022-02-02 20:04] bwang482 commented on #73
https://huggingface.co/datasets/swedish_medical_ner

[2022-02-05 20:52] galtay commented on #34
#83

[2022-02-14 10:35] sg-wbi opened #91 "Create a dataset loader for NLM-Gene"
- Task: NER, NEN
- License: "This work is licensed under a CC0 1.0 Universal (CC0 1.0) Public Domain Dedication license."
- Format: BioC
- Language: English
- Citation:
@article{islamaj2021nlm,
  title={NLM-Gene, a richly annotated gold standard dataset for gene entities that addresses ambiguity and multi-species gene recognition},
  author={Islamaj, Rezarta and Wei, Chih-Hsuan and Cissel, David a

[2022-02-14 10:50] sg-wbi opened #92 "Create a dataset loader for LINNAEUS"
- Task: NER, NEN
- License: "Creative Commons Attribution 4.0 International (CC BY 4.0)"
- Format: text files + annotation file
- Language: English
- Citation:
@article{gerner2010linnaeus,
  title={LINNAEUS: a species name identification system for biomedical literature},
  author={Gerner, Martin and Nenadic, Goran and Bergman, Casey M},
  journal={BMC bioinformatics},
  volume={11},
  number={1},

[2022-02-14 11:04] sg-wbi opened #93 "Create a dataset loader for tmVar"
- Task: NER, NEN
- License: ? "freely available"
- Format: PubTator
- Language: English
- Citation:
@article{wei2018tmvar,
  title={tmVar 2.0: integrating genomic variant information from literature with dbSNP and ClinVar for precision medicine},
  author={Wei, Chih-Hsuan and Phan, Lon and Feltz, Juliana and Maiti, Rama and Hefferon, Tim and Lu, Zhiyong},
  journal={Bioinformatics},
  volume={34},

[2022-02-14 11:13] sg-wbi opened #94 "Create a dataset loader for Thomas et al. (2011)"
- Task: NER, NEN
- License: ?
- Format: annotation file
- Language: English
- Citation:
@Article{thomas2011,
	author = {Thomas, Philippe and Klinger, Roman and Furlong, Laura and Hofmann-Apitius, Martin and Friedrich, Christoph},
	title = {Challenges in the association of human single nucleotide polymorphism mentions with unique database identifiers},
	journal = {BMC Bioinformatics},
	volume = {12

[2022-02-14 11:16] sg-wbi opened #95 "Create a dataset loader for Osiris (v1.2)"
- Task: NER, NEN
- License: Creative Commons Attribution 3.0 Unported License
- Format: XML
- Language: English
- Citation:
@ARTICLE{Furlong2008,
  author = {Laura I Furlong and Holger Dach and Martin Hofmann-Apitius and Ferran Sanz},
  title = {OSIRISv1.2: a named entity recognition system for sequence variants
  of genes in biomedical literature.},
  journal = {BMC Bioinformatics},
  year = {200

[2022-02-14 11:19] sg-wbi opened #96 "Create a dataset loader for SETH-corpus"
- Task: NER
- License: Apache License, Version 2.0
- Format: brat
- Language: English
- Citation:
@Article{SETH2016,
  Title= {SETH detects and normalizes genetic variants in text.},
  Author= {Thomas, Philippe and Rockt{\"{a}}schel, Tim and Hakenberg, J{\"{o}}rg and Lichtblau, Yvonne and Leser, Ulf},
  Journal= {Bioinformatics},
  Year= {2016},
  Month= {Jun},
  Doi= {10.1093/bioinformatics/btw23

[2022-02-14 11:24] sg-wbi opened #97 "Create a dataset loader for Verspoor2013"
- Task: NER, RE
- License: ?
- Format: brat
- Language: English
- Citation:
@article{verspoor2013annotating,
  title={Annotating the biomedical literature for the human variome},
  author={Verspoor, Karin and Jimeno Yepes, Antonio and Cavedon, Lawrence and McIntosh, Tara and Herten-Crabb, Asha and Thomas, Zo{\"e} and Plazzer, John-Paul},
  journal={Database},
  volume={2013},
  year={2013},
  publ

[2022-02-14 11:34] sg-wbi opened #98 "Create a dataset loader for MutationFinder"
- Task: NER
- License: ? "freely available"
- Format: annotation file
- Language: English
- Citation:
@ARTICLE{Caporaso2007,
  author = {J. Gregory Caporaso and William A Baumgartner and David A Randolph and K. Bretonnel Cohen and Lawrence Hunter},
  title = {MutationFinder: a high-performance system for extracting point mutation mentions from text.},
  journal = {Bioinformatics},
  year = {2007},

[2022-02-14 11:44] sg-wbi opened #99 "Create a dataset loader for AskAPatient"
- Task: NER, NEN
- License: Creative Commons Attribution 4.0 International
- Format: BioC
- Language: English
- Citation:
@inproceedings{limsopatham2016normalising,
  title={Normalising medical concepts in social media texts by learning semantic representation},
  author={Limsopatham, Nut and Collier, Nigel},
  booktitle={Proceedings of the 54th annual meeting of the association for computational

[2022-02-17 13:45] leonweber opened #113 "Create dataset loader for CHEBI (Chapati)"
Task: NER
License: Creative Commons
Format: custom
Language: English
Citation: ???

Referenced and used by "Habibi, Maryam, et al. "Deep learning with word embeddings improves biomedical named entity recognition." Bioinformatics"

Source: http://chebi.cvs.sourceforge.net/viewvc/chebi/chapati/

[2022-02-17 13:49] leonweber opened #114 "Create Dataset Loader for ChEBI (NACTEM)"
Task: NER, RE
License: Creative Commons 4.0
Format: brat
Language: English
Citation: @InProceedings{Shardlow2018,
  author     = {Shardlow, M J and Nguyen, N and Owen, G and O'Donovan, C and Leach, A and McNaught, J and Turner, S and Ananiadou, S},
  booktitle  = {Proceedings of the Eleventh International Conference on Language Resources and Evaluation ({LREC} 2018)},
  title      = {A New Corpus

[2022-02-17 13:55] leonweber opened #115 "Create a dataset loader for CellFinder"
Task: NER
License: ???
Format: brat
Language: English
@InProceedings{Neves2012,
  author      = {Neves, Mariana and Damaschun, Alexander and Kurtz, Andreas and Leser, Ulf},
  booktitle   = {Proceedings of the Third Workshop on Building and Evaluation Resources for Biomedical Text Mining ({BioTxtM} 2012) at Language Resources and Evaluation ({LREC)}. Istanbul, Turkey},
  title       = {Annotating a

[2022-02-17 14:00] leonweber opened #116 "Create dataset loader for DECA"
Task: custom:  NER (only genes) / NEN (only species), but no NEN for genes and no NER for species
License: custom (included in files)
Format: custom
Citation: @Article{Wang2010,
  author    = {Wang, Xinglong and Tsujii, Jun'ichi and Ananiadou, Sophia},
  journal   = {Bioinformatics},
  title     = {Disambiguating the species of biomedical named entities using natural language parsers},
  year

[2022-02-17 14:03] sg-wbi opened #117 "Create dataset loader for GNormPlus corpus (BC2GM+BC2GN)"
- Task: NER, NEN
- License: ? ("freely available from website")
- Format: BioC/PubTattor
- Language: English
- Citation:
Wei C-H, Kao H-Y, Lu Z. GNormPlus: An Integrative Approach for Tagging Gene, Gene Family and Protein Domain. BioMed Research International Journal, Text Mining for Translational Bioinformatics special issue, BioMed Research International Journal, Article ID 918710; DOI: dx.doi.o

[2022-02-17 14:04] sg-wbi opened #118 "Create dataset loader for Citation GIA Test Collection"
- Task: NER, NEN
- License: ? ("freely available from website")
- Format: BioC/PubTattor
- Language: English
- Citation:
Wei C-H, Kao H-Y, Lu Z. GNormPlus: An Integrative Approach for Tagging Gene, Gene Family and Protein Domain. BioMed Research International Journal, Text Mining for Translational Bioinformatics special issue, BioMed Research International Journal, Article ID 918710; DOI: dx.doi.o

[2022-02-17 14:10] leonweber opened #119 "Create dataset loader for LocText"
Task: NER/RE

License: ???

Format: brat

Language: English

@Article{Cejuela2018,
  author    = {Juan Miguel Cejuela and Shrikant Vinchurkar and Tatyana Goldberg and Madhukar Sollepura Prabhu Shankar and Ashish Baghudana and Aleksandar Bojchevski and Carsten Uhlig and Andr{\'{e}} Ofner and Pandu Raharja{-}Liu and Lars Juhl Jensen and Burkhard Rost},
  journal   = {{BMC} Bioinform.},
  title     =

[2022-02-17 15:54] leonweber opened #120 "Create dataset loader for ProGene"
Task: NER

License: ???

Format: custom

Language: English

Citation: @InProceedings{Faessler2020,
  author    = {Erik Faessler and Luise Modersohn and Christina Lohr and Udo Hahn},
  booktitle = {Proceedings of The 12th Language Resources and Evaluation Conference, {LREC} 2020, Marseille, France, May 11-16, 2020},
  title     = {ProGene - {A} Large-scale, High-Quality Protein-Gene Annotated Bench

[2022-02-18 03:27] galtay commented on #93
Hi I would like to work on this dataset (if sg-wbi doesn't want it)

[2022-02-18 08:20] sg-wbi commented on #93
Sure go ahead!

[2022-02-20 14:15] hakunanatasha opened #127 "test issue"
testing github actions - no need to comment

[2022-02-20 14:32] hakunanatasha commented on #127
#self-assign

[2022-02-20 14:33] hakunanatasha commented on #127
#self-assign

[2022-02-20 14:37] #127 closed

[2022-02-20 14:37] hakunanatasha opened #128 "automate github issues"
setup a workflow with github actions to allow users to automate issues

[2022-02-20 16:03] galtay commented on #128
#self-assign

[2022-02-20 16:06] natasha-test commented on #128
#self-assign

[2022-02-22 01:55] sunnnymskang commented on #20
#self-assign

[2022-02-22 11:41] nomisto opened #132 "Can't install requirements due to duplicate declaration of huggingface_hub in requirements.txt"
## Describe the bug

I cannot install the requirements via pip due to a duplicate declaration of huggingface_hub in requirements.txt: `
huggingface_hub>=0.1.0,<1.0.0` and `huggingface_hub>=0.4.0`

## Steps to reproduce the bug
[code]

## Expected results

Installation of requirements.

## Actual results

[code]

## Environment info

- `datasets` version:
- Platform: win64
- Python version: 3.7.9
-

[2022-02-22 11:51] nomisto commented on #132
Just tested it: Python 3.8+ seems to be able to handle double specification of requirements.

[2022-02-22 16:10] nomisto commented on #26
#self-assign

[2022-02-22 16:14] nomisto commented on #25
Found here [https://huggingface.co/datasets/pubmed_qa](https://huggingface.co/datasets/pubmed_qa), however without official splits.

[2022-02-23 09:45] nomisto opened #133 "UnicodeDecodeError: 'charmap' codec can't decode byte 0x9d in position 352139: character maps to <undefined> when loading bioasq9b"
## Describe the bug

When loading the dataset "bioasq9b" I get an error that some characters cannot be correctly decoded. After an inspection of the dataset files downloaded from http://participants-area.bioasq.org/datasets/, I can confirm that they are indeed utf8, so changing line 175 here

https://github.com/bigscience-workshop/biomedical/blob/a59a21dea6d3a13753a166058d10c29b55014188/examples/b

[2022-02-23 09:59] nomisto opened #134 "Test set bioasq9b too small"
## Describe the bug

(I hope this is the right place to report dataset specific bugs)
There is a bug in the code for the concatenation of the multiple test files to one single file of bioasq9b.

https://github.com/bigscience-workshop/biomedical/blob/a59a21dea6d3a13753a166058d10c29b55014188/examples/bioasq9b.py#L167-L181

Line 180: Should be `json.dump(test_data, open(test_fpath, "wt"))`

## Steps

[2022-02-23 12:45] nomisto opened #135 "nlmchem: 'source' config does not return anything"
## Describe the bug

'source' config of nlmchem does not return anything due to missing `yield` in `_generate_examples`

## Steps to reproduce the bug

[code]

## Expected results

Correct load of source config of dataset.

## Actual results

[code]

## Environment info

- `datasets` version: 1.18.3
- Platform: Windows-10-10.0.19042-SP0
- Python version: 3.9.7
- PyArrow version: 7.0.0

[2022-02-23 18:13] sunnnymskang commented on #135
@sg-wbi

[2022-02-23 18:13] sunnnymskang commented on #134
@jason-fries

[2022-02-24 06:20] jason-fries opened #137 "Create dataset loader for Mantra GSC"
## Adding a Dataset
- **Name:** *Mantra GSC*
- **Description:** *We selected text units from different parallel corpora (Medline abstract titles, drug labels, biomedical patent claims) in English, French, German, Spanish, and Dutch. Three annotators per language independently annotated the biomedical concepts, based on a subset of the Unified Medical Language System and covering a wide range of se

[2022-02-24 06:39] jason-fries opened #138 "Create dataset loader for PharmaCoNER"
## Adding a Dataset
- **Name:** *PharmaCoNER*
- **Description:** *Following the outline of previous chemical and drug NER efforts, in particular the BioCreative CHEMDNER tracks, we organize the first task on chemical and drug mention recognition from Spanish medical texts, namely from a corpus of Spanish clinical case studies.*
- **Task:** *NER, NED*
- **Paper:** *[PharmaCoNER: Pharmacological Sub

[2022-02-24 06:56] jason-fries opened #139 "Create dataset loader for eHealth-KD 2019"
## Adding a Dataset
- **Name:** *eHealth-KD 2019*
- **Description:** *The representation model used in eHealth-KD 2019 [20] allows the representation of concepts and their interrelation, oblivious of domain-specific semantics. The eHealth-KD Challenge proposes two subtasks related to capturing the semantic meaning of health related sentences in the Spanish language.*
- **Task:** *NER, RE*
- **Pape

[2022-02-24 10:31] sg-wbi commented on #92
https://huggingface.co/datasets/linnaeus

[2022-02-24 10:52] sg-wbi commented on #95
Original link broken. Use:
https://github.com/rockt/SETH/blob/master/resources/OSIRIS/corpus.xml

[2022-02-24 11:43] sg-wbi opened #140 "Create a dataset loader for TwADR-L"
- Task: NER, NEN
- License: Creative Commons Attribution 4.0 International
- Format: BioC
- Language: English
- Citation:
@inproceedings{limsopatham2016normalising,
  title={Normalising medical concepts in social media texts by learning semantic representation},
  author={Limsopatham, Nut and Collier, Nigel},
  booktitle={Proceedings of the 54th annual meeting of the association for computational

[2022-02-24 17:37] sg-wbi opened #142 "Cannot add labels when creating "add dataset" issue"
Hi, I would like to be able to add labels to the "add dataset"  issue. Thanks!

[2022-02-25 12:30] sg-wbi commented on #142
@hakunanatasha

[2022-02-25 13:12] sg-wbi opened #145 "Create a dataset loader for BioNLP-ST 2011 GE"
## Adding a Dataset
- **Name:** *BioNLP-ST 2011 GE*
- **Task:** *Event extraction*
- **Paper:** *[link to the dataset paper if available](https://aclanthology.org/W11-1802.pdf)*
- **Data:** *[link to the Github repository or current dataset location](https://github.com/openbiocorpora/bionlp-st-2011-ge)*
- **License:** *License Terms for BioNLP Shared Task 2011 Data*
- original link: https://sites.

[2022-02-25 13:15] sg-wbi opened #146 "Create a dataset loader for BioNLP-ST 2013 GE"
## Adding a Dataset
- **Name:** *BioNLP-ST 2013 GE*
- **Task:** *Event extraction*
- **Paper:** *[link to the dataset paper if available](https://aclanthology.org/W13-2002.pdf)*
- **Data:** *[link to the Github repository or current dataset location](https://github.com/openbiocorpora/bionlp-st-2013-ge)*
- **License:** *License Terms for BioNLP Shared Task 2013 Data*
- original link: https://sites.

[2022-02-25 14:25] leonweber opened #147 "BioNLP-ST 2013 GRO"
## Adding a Dataset
- **Name:** BioNLP-ST 2013 GRO
- **Description:** Annotate biomedical documents with Gene Regulation Ontology
- **Task:** Event Extraction
- **Paper:** https://aclanthology.org/W13-2007.pdf
- **Data:** https://github.com/openbiocorpora/bionlp-st-2013-gro
- **License:** License Terms for BioNLP Shared Task 2013 Data

[2022-02-25 14:29] leonweber opened #148 "Create dataset loader for BioNLP-ST 2013 PC"
- **Name:** BioNLP-ST 2013 PC
- **Description:** Event extraction data set for pathway curation
- **Task:** Event extraction
- **Paper:** https://aclanthology.org/W13-2009.pdf
- **Data:** [https://github.com/openbiocorpora/bionlp-st-2013-pc]()
- **License:** License Terms for BioNLP Shared Task 2013 Data

[2022-02-25 14:56] leonweber opened #149 "Create dataset loader for BioNLP-ST 2011 EPI"
- **Name:** BioNLP-ST 2011 EPI
- **Description:** Event extraction for Epigenetics and Post-Translational Modifications
- **Task:** Event Extraction
- **Paper:** https://aclanthology.org/W11-1803.pdf
- **Data:** [https://github.com/openbiocorpora/bionlp-st-2011-epi]()
- **License:** License Terms for BioNLP Shared Task 2011

[2022-02-25 14:58] leonweber opened #150 "Create dataset loader for BioNLP-ST 2011 ID"
- **Name:** BioNLP-ST 2011 ID
- **Description:** Event extraction related to infectious diseases
- **Task:** Event Extraction
- **Paper:** https://aclanthology.org/W11-1804.pdf
- **Data:** [https://github.com/openbiocorpora/bionlp-st-2011-id]()
- **License:** License Terms for BioNLP Shared Task 2011 Data

[2022-02-25 15:01] leonweber opened #151 "Create dataset loader for BioNLP-ST 2011 REL"
- **Name:** BioNLP-ST 2011 REL
- **Description:** Part-of relations between genes and other biological entities
- **Task:** RE
- **Paper:** https://aclanthology.org/W11-1812.pdf
- **Data:** [https://github.com/openbiocorpora/bionlp-st-2011-rel]()
- **License:** License Terms for BioNLP Shared Task 2011 Data

[2022-02-25 18:31] galtay-tempus opened #152 "notes for mqp dataset loader"
* uses load_dataset recursively
* yields all splits instead of the split passed to `generate_examples`

[2022-02-25 18:32] galtay-tempus commented on #152
@sunnnymskang @debajyotidatta

[2022-02-26 18:05] galtay opened #153 "Create dataset loader for Bio-SimVerb"
- **Name:** Bio-SimVerb
- **Description:** Verb pairs with similarity scores
- **Task:** Semantic Similarity
- **Paper:** https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-018-2039-z
- **Data:** https://github.com/cambridgeltl/bio-simverb/tree/master/wvlib/word-similarities/bio-simverb
- **License:** ?
- **Motivation:** Evaluation

[2022-02-26 18:08] galtay opened #154 "Create dataset loader for Bio-SimLex"
- **Name:** Bio-SimLex
- **Description:** Noun pairs with similarity scores
- **Task:** Semantic Similarity
- **Paper:** https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-018-2039-z
- **Data:** https://github.com/cambridgeltl/bio-simverb/tree/master/wvlib/word-similarities/bio-simlex
- **License:** ?
- **Motivation:** Evaluation

[2022-02-26 18:41] galtay opened #155 "Create dataset loader for UMNSRS Reference Standard"
- **Name:** UMNSRS Reference Standard
- **Description:** UMNSRS, developed by Pakhomov, et al., consists of 725 clinical term pairs whose semantic similarity and relatedness.
- **Task:** Semantic Similarity
- **Paper:** https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3041430/
- **Data:** https://nlp.cs.vcu.edu/data.html#umnsrs
- **License:** ?
- **Motivation:** Evaluation

[2022-02-26 19:17] galtay opened #156 "Create dataset loader for MSH-WSD dataset"
- **Name:** MSH-WSD Dataset
- **Description:**
- **Task:** Word Sense Disambiguation
- **Paper:** https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-12-223
- **Data:** https://lhncbc.nlm.nih.gov/ii/areas/WSD/collaboration.html
- **License:** ?
- **Motivation:** completeness. but this one looks hard.

[2022-02-26 19:20] galtay opened #157 "Create dataset loader for NLM-WSD Dataset"
- **Name:** NLM-WSD dataset
- **Description:** 100 randomly selected instances of 50 frequent and highly ambiguous words from 1998 MEDLINE abstracts.
- **Task:** Word Sense Disambiguation
- **Paper:** https://pubmed.ncbi.nlm.nih.gov/11825285/
- **Data:** https://lhncbc.nlm.nih.gov/restricted/ii/areas/WSD/index.html
- **License:** ?
- **Motivation:** completeness, but this looks hard.

[2022-02-26 21:57] hakunanatasha opened #158 "Issue with N2C2 datalaoder"
@galtay can you check if your n2c2 dataloader is working? I'm getting an issue in your `_generate_examples` script:

Minimal script to reproduce:

[code]

Stack trace:
[code]

[2022-02-26 22:15] galtay commented on #158
looks like you need the `data_dir` kwarg (https://github.com/bigscience-workshop/biomedical/blob/master/examples/n2c2_2011_coref.py#L55) ... maybe we should raise an exception if someone tries to use a local dataset w/o passing in path information?

[2022-02-26 22:16] hakunanatasha commented on #158
perfect; actually maybe this is a good idea to throw an exception for local dirs needing the `data_dir` kwarg

[2022-02-26 22:30] galtay commented on #158
#159

[2022-02-26 23:34] sunnnymskang commented on #152
Addressed and included in the draft PR: https://github.com/bigscience-workshop/biomedical/pull/136

[2022-02-26 23:34] #152 closed

[2022-02-27 01:18] galtay opened #161 "Create dataset loader for MayoSRS Reference Standard"
- **Name:** MayoSRS Reference Standard
- **Description:** MayoSRS consists of 101 clinical term pairs whose relatedness was determined by nine medical coders and three physicians from the Mayo Clinic.
- **Task:** Semantic Similarity
- **Paper:** https://pubmed.ncbi.nlm.nih.gov/16875881/
- **Data:** https://nlp.cs.vcu.edu/data.html#mayosrs
- **License:** ?
- **Motivation:**

[2022-02-27 01:25] galtay opened #162 "Create dataset loader for MiniMayoSRS Semantic Similarity Reference Standard"
- **Name:** MiniMayoSRS Semantic Similarity Reference Standard
- **Description:** MiniMayoSRS is a subset of the MayoSRS and consists of 30 term pairs on which a higher inter-annotator agreement was achieved. The average correlation between physicians is 0.68. The average correlation between medical coders is 0.78.
- **Task:** Semantic Similarity
- **Paper:** https://pubmed.ncbi.nlm.nih.gov/168758

[2022-02-27 02:01] galtay opened #163 "Create dataset loader for Conflate Dataset"
- **Name:** Conflate Dataset
- **Description:** Conflation of word pairs from Medline abstracts
- **Task:** Semantic Similarity
- **Paper:** https://aclanthology.org/P08-3009/
- **Data:** https://nlp.cs.vcu.edu/data.html#conflate
- **License:** ?

[2022-03-01 17:34] WojciechKusa opened #169 "Create a dataset loader for MedQuAD"
## Adding a Dataset
- **Name:** *MedQuAD*
- **Description:** *MedQuAD includes 47,457 medical question-answer pairs created from 12 NIH websites (e.g. cancer.gov, niddk.nih.gov, GARD, MedlinePlus Health Topics). The collection covers 37 question types (e.g. Treatment, Diagnosis, Side Effects) associated with diseases, drugs and other medical entities such as tests.*
- **Task:** *QA, RQE*
- **Paper

[2022-03-01 18:11] WojciechKusa opened #170 "Create a dataset loader for "CSIRO: Matching Patients to Clinical Trials""
## Adding a Dataset
- **Name:** *CSIRO: Matching Patients to Clinical Trials*
- **Description:** *A Test Collection for Matching Patient to Clinical Trials covering: i) a large corpus of clinical trials; ii) 60 patient case reports used as topics; iii) multiple query representations for a single topic (long, short and ad-hoc); iv) a user provided estimate of how many trials they expect each patien

[2022-03-01 22:10] WojciechKusa opened #171 "Create dataset loader for BioNLP-ST 2013 CG"
## Adding a Dataset
- **Name:** *BioNLP-ST 2013 CG*
- **Description:** *Event extraction data set for Cancer Genetics*
- **Task:** *Event extraction*
- **Paper:** *https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4511510*
- **Data:** *https://github.com/openbiocorpora/bionlp-st-2013-cg*
- **License:** *[CC BY-SA 3.0](https://github.com/openbiocorpora/bionlp-st-2013-pc/blob/master/LICENSE)*

[2022-03-01 22:34] WojciechKusa opened #172 "Create dataset loader for CADEC"
## Adding a Dataset
- **Name:** *CADEC*
- **Description:** *CSIRO Adverse Drug Event Corpus (CADEC) is a new rich annotated corpus of medical forum posts on patient-reported Adverse Drug Events (ADEs).*
- **Task:** *NER, RE*
- **Paper:** *https://www.sciencedirect.com/science/article/pii/S1532046415000532*
- **Data:** *https://data.gov.au/dataset/ds-dap-csiro%3A10948/details?q=*
- **License:** *[C

[2022-03-03 16:02] WojciechKusa opened #175 "Create dataset loader for EBM PICO"
## Adding a Dataset
- **Name:** *EBM PICO*
- **Description:** *This corpus release contains 4,993 abstracts annotated with (P)articipants, (I)nterventions, and (O)utcomes. Training labels are sourced from AMT workers and aggregated to reduce noise. Test labels are collected from medical professionals.*
- **Task:** *NER*
- **Paper:** *https://aclanthology.org/P18-1019/*
- **Data:** *https://github.

[2022-03-03 17:07] #132 closed

[2022-03-05 11:22] #134 closed

[2022-03-05 11:23] #135 closed

[2022-03-06 03:29] hakunanatasha opened #176 "source view of bc5cdr doesnt work"
the source view of bc5cdr (default) doesn't work BUT the bigbio view does

[2022-03-06 03:31] hakunanatasha commented on #176
the source config features do not match the dataloader

[2022-03-06 13:03] sunnnymskang commented on #176
Addressed, fixed and merged on https://github.com/bigscience-workshop/biomedical/pull/177

[2022-03-06 13:03] #176 closed

[2022-03-07 03:55] #158 closed

[2022-03-07 09:48] #133 closed

[2022-03-15 01:46] sunnnymskang opened #185 "MLEE bug"
if __name__ == "__main__":
    from datasets import load_dataset
    # ds = load_dataset(__file__)
    ds = load_dataset(__file__, name = "mlee_bigbio_kb")
    print(ds)

produces

Traceback (most recent call last):
  File "/Users/skang/repo/bigscience/biomedical/examples/mlee.py", line 346, in <module>
    ds = load_dataset(__file__)
  File "/Users/skang/repo/bigscience/biomedical/venv/lib/python

[2022-03-15 01:46] sunnnymskang commented on #185
@leonweber - Can you take a look at this?

[2022-03-15 13:02] leonweber commented on #185
@sunnnymskang Should be resolved now

[2022-03-15 15:08] #185 closed

[2022-03-19 21:05] sunnnymskang opened #198 "unittests bug report - mlee"
## Describe the bug
Running unit test on mlee causes the import error with utils.py. This might have to do with the relative location of utils and how it's not directly visible from the testes folder - please inspect on this

## Steps to reproduce the bug
[code]

## Expected results
All packages and scripts written are correctly imported

## Actual results
Traceback (most recent call last):
  File

[2022-03-19 21:07] sunnnymskang commented on #198
@sg-wbi - for some reason assignee function didn't work above so tagging you here as you were one of the authors of unittest

[2022-03-19 21:53] galtay commented on #198
yea, it looks like mlee is the only example that imports utils. @leonweber I remember you saying something during the meeting that the formats might be so different that utils might be hard to make general. i'm not sure if we were going to try and centralize helper scripts into utils or just have people implement them directly in their dataloader scripts.

[2022-03-19 22:55] sunnnymskang opened #199 "unittests pass- nlm chem"
## Describe the bug
Running unit tests on nlmchem generates warning msgs in checking offsets - please make sure this is error coming from dataset not dataset loader

## Steps to reproduce the bug
[code]

## Actual results
WARNING:__main__:Number of texts 1 != number of offsets 0. Please make sure that this error already exists in the original data and was not introduced in the data loader.
WARNING

[2022-03-19 22:55] sunnnymskang commented on #199
@sg-wbi

[2022-03-19 23:00] sunnnymskang opened #200 "unit tests - bc5cdr"
## Describe the bug
running unit tests on bc5cdr produces warning msgs on offsets and reference elements - make sure that this is not due to dataset loader

## Steps to reproduce the bug
[code]
## Actual results
Example:5983 - entity:5996  text:`` != text_by_offset:`e antigen`
Example:6730 - entity:6746  text:`aortic regurgitation` != text_by_offset:`aortic`
Example:6730 - entity:6746  text:`` !=

[2022-03-21 04:26] jason-fries commented on #200
Fixed in #201

[2022-03-21 04:26] #200 closed

[2022-03-22 00:09] jason-fries opened #206 "Create dataset loader for AnEM"
## Adding a Dataset
- **Name:** AnEM
- **Description:** *None provided*
- **Task:** NER
- **Paper:** https://aclanthology.org/W12-4304/
- **Data:** http://www.nactem.ac.uk/anatomy/
- **License:** CC BY-SA 3.0

[2022-03-22 00:12] jason-fries opened #207 "Create dataset loader for BioASQ Task 2020 MESINESP / MESINESP2"
## Adding a Dataset
- **Name:** BioASQ Task 2020 MESINESP / MESINESP2
- **Description:** *None provided*
- **Task:** DOC_CLASS
- **Paper:** http://ceur-ws.org/Vol-2936/paper-11.pdf
- **Data:** https://zenodo.org/record/5602914#.YhSXJ5PMKWt
- **License:** CC BY 4.0

[2022-03-22 00:12] jason-fries opened #208 "Create dataset loader for BioASQ Task 2021 MESINESP / MESINESP2"
## Adding a Dataset
- **Name:** BioASQ Task 2021 MESINESP / MESINESP2
- **Description:** *None provided*
- **Task:** DOC_CLASS
- **Paper:** http://ceur-ws.org/Vol-2936/paper-11.pdf
- **Data:** https://zenodo.org/record/5602914#.YhSXJ5PMKWt
- **License:** CC BY 4.0

[2022-03-22 00:14] jason-fries opened #209 "Create dataset loader for BioASQ Task C 2017"
## Adding a Dataset
- **Name:** BioASQ Task C 2017
- **Description:** *None provided*
- **Task:** NER
- **Paper:** https://aclanthology.org/W17-2306.pdf
- **Data:** http://participants-area.bioasq.org/general_information/Task5c/
- **License:** NLM License Code: 8283NLM123

[2022-03-22 00:14] jason-fries opened #210 "Create dataset loader for BioASQ Task Synergy"
## Adding a Dataset
- **Name:** BioASQ Task Synergy
- **Description:** *None provided*
- **Task:** QA
- **Paper:** http://ceur-ws.org/Vol-2936/paper-10.pdf
- **Data:** http://participants-area.bioasq.org/general_information/Task9b/
- **License:** NLM License Code: 8283NLM123

[2022-03-22 00:14] jason-fries opened #211 "Create dataset loader for BioCreative II: Gene Normalization (GN)"
## Adding a Dataset
- **Name:** BioCreative II: Gene Normalization (GN)
- **Description:** *None provided*
- **Task:** NED
- **Paper:** https://link.springer.com/article/10.1186/gb-2008-9-s2-s3
- **Data:** https://biocreative.bioinformatics.udel.edu/resources/corpora/biocreative-ii-corpus/
- **License:** ?

[2022-03-22 00:14] jason-fries opened #212 "Create dataset loader for GENETAG"
## Adding a Dataset
- **Name:** GENETAG
- **Description:** *None provided*
- **Task:** NER
- **Paper:** https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-6-S1-S3
- **Data:** https://github.com/openbiocorpora/genetag
- **License:** Public Domain

[2022-03-22 00:14] jason-fries opened #213 "Create dataset loader for AIMed"
## Adding a Dataset
- **Name:** AIMed
- **Description:** *None provided*
- **Task:** NER
- **Paper:** https://www.cs.utexas.edu/~ml/papers/bionlp-aimed-04.pdf
- **Data:** https://www.cs.utexas.edu/ftp/mooney/bio-data/
- **License:** ?

[2022-03-22 00:14] jason-fries opened #214 "Create dataset loader for BioInfer"
## Adding a Dataset
- **Name:** BioInfer
- **Description:** *None provided*
- **Task:** RE,NER
- **Paper:** https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-8-50
- **Data:** https://github.com/metalrt/ppi-dataset/tree/master/csv_output
- **License:** ?

[2022-03-22 00:14] jason-fries opened #215 "Create dataset loader for HPRD50"
## Adding a Dataset
- **Name:** HPRD50
- **Description:** *None provided*
- **Task:** RE
- **Paper:** https://academic.oup.com/bioinformatics/article/23/3/365/236564
- **Data:** https://github.com/metalrt/ppi-dataset/tree/master/csv_output
- **License:** ?

[2022-03-22 00:14] jason-fries opened #216 "Create dataset loader for IEPA"
## Adding a Dataset
- **Name:** IEPA
- **Description:** *None provided*
- **Task:** DOC_CLASS
- **Paper:** http://psb.stanford.edu/psb-online/proceedings/psb02/abstracts/p326.html
- **Data:** https://github.com/metalrt/ppi-dataset/tree/master/csv_output
- **License:** ?

[2022-03-22 00:14] jason-fries opened #217 "Create dataset loader for LLL"
## Adding a Dataset
- **Name:** LLL
- **Description:** *None provided*
- **Task:** RE,NER
- **Paper:** http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=4B3F165F09189F5487A59C6E0C19C855?doi=10.1.1.96.5066&rep=rep1&type=pdf
- **Data:** http://genome.jouy.inra.fr/texte/LLLchallenge/
- **License:** ?

[2022-03-22 00:14] jason-fries opened #218 "Create dataset loader for PUBHEALTH"
## Adding a Dataset
- **Name:** PUBHEALTH
- **Description:** *None provided*
- **Task:** SENT_CLASS
- **Paper:** https://aclanthology.org/2020.emnlp-main.623/
- **Data:** https://github.com/neemakot/Health-Fact-Checking/blob/master/data/DATASHEET.md
- **License:** MIT License

[2022-03-22 00:14] jason-fries opened #219 "Create dataset loader for n2c2 2006 - Deidentification"
## Adding a Dataset
- **Name:** n2c2 2006 - Deidentification
- **Description:** *None provided*
- **Task:** NER
- **Paper:** https://academic.oup.com/jamia/article/14/5/550/720189
- **Data:** https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/
- **License:** DUA-C/NC

[2022-03-22 00:14] jason-fries opened #220 "Create dataset loader for n2c2 2014 - Deidentification & Heart Disease"
## Adding a Dataset
- **Name:** n2c2 2014 - Deidentification & Heart Disease
- **Description:** *None provided*
- **Task:** NER,DOC_CLASS
- **Paper:** https://pubmed.ncbi.nlm.nih.gov/26225918/
- **Data:** https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/
- **License:** DUA-C/NC

[2022-03-22 00:14] jason-fries opened #221 "Create dataset loader for n2c2 2018 - Clinical Trial Cohort Selection"
## Adding a Dataset
- **Name:** n2c2 2018 - Clinical Trial Cohort Selection
- **Description:** *None provided*
- **Task:** DOC_CLASS
- **Paper:** https://academic.oup.com/jamia/article-abstract/26/11/1163/5575392?redirectedFrom=fulltext
- **Data:** https://portal.dbmi.hms.harvard.edu/projects/n2c2-nlp/
- **License:** DUA-C/NC

[2022-03-22 00:14] jason-fries opened #222 "Create dataset loader for PubTator Central"
## Adding a Dataset
- **Name:** PubTator Central
- **Description:** *None provided*
- **Task:** NER,NED,COREF
- **Paper:** https://academic.oup.com/nar/article/47/W1/W587/5494727
- **Data:** https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/
- **License:** Public Domain

[2022-03-22 00:14] jason-fries opened #223 "Create dataset loader for BioScope"
## Adding a Dataset
- **Name:** BioScope
- **Description:** *None provided*
- **Task:** SPAN_CLASS,SPAN_CLASS,SPAN_CLASS
- **Paper:** https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-9-S11-S9
- **Data:** https://rgai.inf.u-szeged.hu/node/105
- **License:** Public for Research

[2022-03-22 00:14] jason-fries opened #224 "Create dataset loader for Multi-XScience"
## Adding a Dataset
- **Name:** Multi-XScience
- **Description:** arXiv articles and Microsoft Academic Graph
- **Task:** PARA/SUM
- **Paper:** https://arxiv.org/abs/2010.14235
- **Data:** https://github.com/yaolu/Multi-XScience
- **License:** MIT License

[2022-03-22 00:14] jason-fries opened #225 "Create dataset loader for MedHop"
## Adding a Dataset
- **Name:** MedHop
- **Description:** *None provided*
- **Task:** QA
- **Paper:** https://transacl.org/ojs/index.php/tacl/article/viewFile/1325/299
- **Data:** http://qangaroo.cs.ucl.ac.uk
- **License:** CC BY-SA 3.0

[2022-03-22 00:14] jason-fries opened #226 "Create dataset loader for CORD-NER"
## Adding a Dataset
- **Name:** CORD-NER
- **Description:** *None provided*
- **Task:** NER
- **Paper:** https://arxiv.org/abs/2003.12218
- **Data:** https://uofi.box.com/s/k8pw7d5kozzpoum2jwfaqdaey1oij93x
- **License:** ?

[2022-03-22 00:14] jason-fries opened #227 "Create dataset loader for ShAReCLEF 2013 Task 1"
## Adding a Dataset
- **Name:** ShAReCLEF 2013 Task 1
- **Description:** *None provided*
- **Task:** NER,NED
- **Paper:** https://pubmed.ncbi.nlm.nih.gov/25147248/
- **Data:** https://physionet.org/content/shareclefehealth2013/1.0/
- **License:** DUA-NC

[2022-03-22 00:14] jason-fries opened #228 "Create dataset loader for MEDIQA 2019 QA"
## Adding a Dataset
- **Name:** MEDIQA 2019 QA
- **Description:** *None provided*
- **Task:** QA
- **Paper:** https://www.aclweb.org/anthology/W19-5039/
- **Data:** https://github.com/abachaa/MEDIQA2019/tree/master/MEDIQA_Task3_QA
- **License:** ?

[2022-03-22 00:19] jason-fries opened #229 "Create dataset loader for TREC-2017 LiveQA"
## Adding a Dataset
- **Name:** TREC-2017 LiveQA
- **Description:** *None provided*
- **Task:** QA
- **Paper:** https://trec.nist.gov/pubs/trec26/papers/Overview-QA.pdf
- **Data:** https://github.com/abachaa/LiveQA_MedicalTask_TREC2017
- **License:** ?

[2022-03-22 00:19] jason-fries opened #230 "Create dataset loader for EPIC-QA"
## Adding a Dataset
- **Name:** EPIC-QA
- **Description:** Epidemic Question Answering for ad-hoc questions about the disease COVID-19
- **Task:** QA
- **Paper:** nan
- **Data:** https://bionlp.nlm.nih.gov/epic_qa/#collection
- **License:** DUA-NC

[2022-03-22 00:19] jason-fries opened #231 "Create dataset loader for MedDialog"
## Adding a Dataset
- **Name:** MedDialog
- **Description:** The MedDialog dataset contains conversations between doctors and patients. It has 1.1 million dialogues in Chinese and 0.26 million dialogues in English
- **Task:** SENT_CLASS
- **Paper:** https://arxiv.org/abs/2004.03329
- **Data:** https://github.com/UCSD-AI4H/Medical-Dialogue-System
- **License:** Public for Research

[2022-03-22 00:19] jason-fries opened #232 "Create dataset loader for ParaMed"
## Adding a Dataset
- **Name:** ParaMed
- **Description:** *None provided*
- **Task:** TRANSL
- **Paper:** https://arxiv.org/abs/2005.09133
- **Data:** https://github.com/boxiangliu/ParaMed
- **License:** ?

[2022-03-22 00:20] jason-fries opened #233 "Create dataset loader for PhoNER"
## Adding a Dataset
- **Name:** PhoNER
- **Description:** *None provided*
- **Task:** NER
- **Paper:** https://aclanthology.org/2021.naacl-main.173/
- **Data:** https://github.com/VinAIResearch/PhoNER_COVID19
- **License:** ?

[2022-03-22 00:20] jason-fries opened #234 "Create dataset loader for Evidence-Infer-Treatment"
## Adding a Dataset
- **Name:** Evidence-Infer-Treatment
- **Description:** *None provided*
- **Task:** SENT_CLASS
- **Paper:** https://arxiv.org/abs/2005.04177
- **Data:** https://github.com/jayded/evidence-inference
- **License:** MIT License

[2022-03-22 00:20] jason-fries opened #235 "Create dataset loader for EHR-Rel"
## Adding a Dataset
- **Name:** EHR-Rel
- **Description:** *None provided*
- **Task:** STS
- **Paper:** https://aclanthology.org/2020.coling-main.577/
- **Data:** https://github.com/babylonhealth/EHR-Rel
- **License:** Apache License 2.0

[2022-03-22 00:20] jason-fries opened #236 "Create dataset loader for SciCo"
## Adding a Dataset
- **Name:** SciCo
- **Description:** Hierarchical cross-document coreference resolution
- **Task:** COREF
- **Paper:** https://www.akbc.ws/2021/assets/pdfs/OFLbgUP04nC.pdf
- **Data:** https://scico.apps.allenai.org/
- **License:** Apache License 2.0

[2022-03-22 00:20] jason-fries opened #237 "Create dataset loader for SciFact"
## Adding a Dataset
- **Name:** SciFact
- **Description:** *None provided*
- **Task:** SENT_CLASS|DOC_CLASS
- **Paper:** https://aclanthology.org/2020.emnlp-main.609/
- **Data:** https://github.com/allenai/scifact
- **License:** CC BY-NC 2.0

[2022-03-22 00:20] jason-fries opened #238 "Create dataset loader for BioNLP-ST 2013 BB"
## Adding a Dataset
- **Name:** BioNLP-ST 2013 BB
- **Description:** *None provided*
- **Task:** NER|RE
- **Paper:** https://aclanthology.org/W13-2024.pdf
- **Data:** http://2013.bionlp-st.org/tasks
- **License:** DUA

[2022-03-22 00:20] jason-fries opened #239 "Create dataset loader for BioNLP-ST 2013 GRN"
## Adding a Dataset
- **Name:** BioNLP-ST 2013 GRN
- **Description:** *None provided*
- **Task:** EE
- **Paper:** https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-16-S10-S1
- **Data:** http://2013.bionlp-st.org/tasks
- **License:** DUA

[2022-03-22 00:20] jason-fries opened #240 "Create dataset loader for BioNLP-ST 2011 BB"
## Adding a Dataset
- **Name:** BioNLP-ST 2011 BB
- **Description:** *None provided*
- **Task:** COREF|RE
- **Paper:** https://aclanthology.org/W11-1809.pdf
- **Data:** http://2011.bionlp-st.org/tasks
- **License:** DUA

[2022-03-22 00:20] jason-fries opened #241 "Create dataset loader for BioNLP-ST 2011 CO"
## Adding a Dataset
- **Name:** BioNLP-ST 2011 CO
- **Description:** *None provided*
- **Task:** COREF
- **Paper:** https://aclanthology.org/W11-1811.pdf
- **Data:** nan
- **License:** ?

[2022-03-22 00:21] jason-fries opened #242 "Create dataset loader for TAC 2017"
## Adding a Dataset
- **Name:** TAC 2017
- **Description:** *None provided*
- **Task:** NER|NED|RE
- **Paper:** https://tac.nist.gov/publications/2017/additional.papers/TAC2017.ADR_overview.proceedings.pdf
- **Data:** https://bionlp.nlm.nih.gov/tac2017adversereactions/
- **License:** ?

[2022-03-22 00:21] jason-fries opened #243 "Create dataset loader for eDiseases"
## Adding a Dataset
- **Name:** eDiseases
- **Description:** *None provided*
- **Task:** SENT_CLASS|SENT_CLASS
- **Paper:** https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6264154/
- **Data:** https://zenodo.org/record/1479354#.Yhs0eBNueWg
- **License:** CC BY-NC 4.0

[2022-03-22 00:21] jason-fries opened #244 "Create dataset loader for Chemical exposure assessments"
## Adding a Dataset
- **Name:** Chemical exposure assessments
- **Description:** *None provided*
- **Task:** DOC_CLASS
- **Paper:** https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0173132
- **Data:** https://figshare.com/articles/dataset/Corpus_and_Software/4668229
- **License:** CC BY 4.0

[2022-03-22 00:21] jason-fries opened #245 "Create dataset loader for MEDDOCAN"
## Adding a Dataset
- **Name:** MEDDOCAN
- **Description:** *None provided*
- **Task:** NER
- **Paper:** http://ceur-ws.org/Vol-2421/MEDDOCAN_overview.pdf
- **Data:** https://temu.bsc.es/meddocan/index.php/datasets/
- **License:** ?

[2022-03-22 00:21] jason-fries opened #246 "Create dataset loader for PsyTAR"
## Adding a Dataset
- **Name:** PsyTAR
- **Description:** *None provided*
- **Task:** NER|SENT_CLASS
- **Paper:** https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6495095/
- **Data:** https://www.askapatient.com/research/pharmacovigilance/corpus-ades-psychiatric-medications.asp
- **License:** CC BY 4.0

[2022-03-22 00:21] jason-fries opened #247 "Create dataset loader for ContextD Corpus"
## Adding a Dataset
- **Name:** ContextD Corpus
- **Description:** Erasmus Medical Center (EMC) Dutch clinical corpus annotated for the three contextual properties negation, temporality, and experiencer
- **Task:** SENT_CLASS
- **Paper:** https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4264258/#CR28
- **Data:** https://biosemantics.erasmusmc.nl/ContextD/
- **License:** ?

[2022-03-22 00:21] jason-fries opened #248 "Create dataset loader for EU-ADR Corpus"
## Adding a Dataset
- **Name:** EU-ADR Corpus
- **Description:** *None provided*
- **Task:** NER|RE
- **Paper:** https://www.sciencedirect.com/science/article/pii/S1532046412000573
- **Data:** https://biosemantics.erasmusmc.nl/downloads/euadr.tgz
- **License:** ?

[2022-03-22 00:21] jason-fries opened #249 "Create dataset loader for Abbrev Dataset"
## Adding a Dataset
- **Name:** Abbrev Dataset
- **Description:** The Abbrev dataset is made available by Stevenson, et al. (2009). It consists of the acronyms and long-forms from Medline abstracts that were intially prsented by Liu, et al. (2001). The dataset is automatically re-created by identifying the acronyms long froms in Medline and replacing it with it's acronym. The dataset consists of t

[2022-03-22 00:21] jason-fries opened #250 "Create dataset loader for Pharmacokinetic Corpus"
## Adding a Dataset
- **Name:** Pharmacokinetic Corpus
- **Description:** *None provided*
- **Task:** SENT_CLASS|DOC_CLASS
- **Paper:** https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0122199
- **Data:** http://rweb.compbio.iupui.edu/corpus/downloads.html
- **License:** ?

[2022-03-22 00:22] jason-fries opened #251 "Create dataset loader for SciQ"
## Adding a Dataset
- **Name:** SciQ
- **Description:** *None provided*
- **Task:** QA
- **Paper:** https://aclanthology.org/W17-4413/
- **Data:** https://allenai.org/data/sciq
- **License:** ?

[2022-03-22 00:22] jason-fries opened #252 "Create dataset loader for NTCIR-13 MedWeb"
## Adding a Dataset
- **Name:** NTCIR-13 MedWeb
- **Description:** annotated with 8 symptom labels (such as cold, fever, and flu). Then, participants classify each tweet into 1 of the 2 categories: those containing a patient’s symptom and those that do not
- **Task:** DOC_CLASS|TRANSL
- **Paper:** https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6401666/
- **Data:** http://research.nii.ac.jp/ntcir/per

[2022-03-22 00:22] jason-fries opened #253 "Create dataset loader for BiologyHowWhyCorpus"
## Adding a Dataset
- **Name:** BiologyHowWhyCorpus
- **Description:** *None provided*
- **Task:** QA
- **Paper:** https://aclanthology.org/P14-1092/
- **Data:** https://allenai.org/data/biology-how-why-corpus
- **License:** ?

[2022-03-22 00:22] jason-fries opened #254 "Create dataset loader for BioNLP-ST 2019 CRAFT-CA"
## Adding a Dataset
- **Name:** BioNLP-ST 2019 CRAFT-CA
- **Description:** *None provided*
- **Task:** NER|COREF
- **Paper:** https://aclanthology.org/D19-5725/
- **Data:** https://github.com/UCDenver-ccp/CRAFT/releases/tag/v3.1.3
- **License:** CC BY 3.0

[2022-03-22 00:22] jason-fries opened #255 "Create dataset loader for BioNLP-ST 2019 Bacteria-Biotope"
## Adding a Dataset
- **Name:** BioNLP-ST 2019 Bacteria-Biotope
- **Description:** *None provided*
- **Task:** NER|NED|RE
- **Paper:** https://aclanthology.org/D19-5719/
- **Data:** https://sites.google.com/view/bb-2019/dataset
- **License:** ?

[2022-03-22 00:22] jason-fries opened #256 "Create dataset loader for BioNLP-ST 2019 AGAC"
## Adding a Dataset
- **Name:** BioNLP-ST 2019 AGAC
- **Description:** *None provided*
- **Task:** NER|RE
- **Paper:** https://aclanthology.org/D19-5710/
- **Data:** https://sites.google.com/view/bionlp-ost19-agac-track/home
- **License:** ?

[2022-03-22 00:22] jason-fries opened #257 "Create dataset loader for BioNLP-ST 2019 RDoc"
## Adding a Dataset
- **Name:** BioNLP-ST 2019 RDoc
- **Description:** *None provided*
- **Task:** SENT_CLASS
- **Paper:** https://aclanthology.org/D19-5729/
- **Data:** https://zenodo.org/record/3596942#.YiHwUhPML9B
- **License:** CC BY 4.0

[2022-03-22 00:22] jason-fries opened #258 "Create dataset loader for PMC-Patients"
## Adding a Dataset
- **Name:** PMC-Patients
- **Description:** *None provided*
- **Task:** SENT_CLASS|STS|IR
- **Paper:** https://arxiv.org/abs/2202.13876
- **Data:** https://github.com/zhao-zy15/PMC-Patients/tree/master/datasets
- **License:** CC BY-NC-SA

[2022-03-22 10:29] mariosaenger commented on #14
#self-assign

[2022-03-22 22:23] jason-fries opened #261 "Create dataset loader for BioASQ Task A (2013-2021)"
## Adding a Dataset
- **Name:** *BioASQ v.2013 Task A*
- **Description:** *Labeling abstracts with MESH Keywords*
- **Task:** *TEXT*
- **Paper:** https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-015-0564-6
- **Data:** http://participants-area.bioasq.org/general_information/Task9b/
- **License:** *DUA*

[2022-03-24 03:10] #34 closed

[2022-03-24 07:58] leonweber commented on #198
The issue with the unit tests was fixed with #204. I'd argue that we leave utils in place, because there are a lot of data sets around that are distributed in BRAT and for those the parsers in utils will be helpful. Maybe, we come across further useful helpers and can put them into utils during the hackathon.

[2022-03-25 15:25] mariosaenger opened #263 "Create dataset loader for PDR corpus"
## Adding a Dataset
- **Name:** *Plant-disease relation corpus*
- **Description:** *Corpus of plant-disease relations from Kim et al., consisting of named entity annotations for plants and diseases.*
- **Task:** *NER, RE*
- **Paper:** *https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0221582*
- **Data:** *[http://gcancer.org/pdr/Plant-Disease_Corpus.tar.gz](http://gcancer.org/pdr/

[2022-03-25 15:36] mariosaenger opened #264 "Create dataset loader for PCR corpus"
## Adding a Dataset
- **Name:** *Plant-chemical relations*
- **Description:** *Corpus of plant-chemical relations from Kim et al., consisting of named entity annotations for plants and chemicals.*
- **Task:** *NER, EE*
- **Paper:** *https://pubmed.ncbi.nlm.nih.gov/27650402/*
- **Data:** *http://210.107.182.73/1109_corpus_units_STformat.tar*
- **License:** *Unknown*
- **Motivation:** *The corpus co

[2022-03-28 03:32] SamuelCahyawijaya commented on #25
#self-assign

[2022-03-28 03:39] SamuelCahyawijaya commented on #228
#self-assign

[2022-03-28 03:39] SamuelCahyawijaya commented on #55
#self-assign

[2022-03-28 03:40] SamuelCahyawijaya commented on #40
#self-assign

[2022-03-28 08:08] mariosaenger commented on #263
#self-assign

[2022-03-28 08:08] mariosaenger commented on #264
#self-assign

[2022-03-28 13:53] #16 closed

[2022-03-28 15:28] mariosaenger opened #282 "Add dataset loader for Chia corpus"
## Adding a Dataset
- **Name:** *Chia*
- **Description:** *A large annotated corpus of clinical trial eligibility criteria*
- **Task:** *NER, RE*
- **Paper:** *https://www.nature.com/articles/s41597-020-00620-0*
- **Data:** *https://doi.org/10.6084/m9.figshare.11855817*
- **License:** *CC BY 4.0*
- **Motivation:** *Covers an important and interesting problem setting in the domain of structured inf

[2022-03-28 15:33] mariosaenger opened #283 "Add dataset loader for NLPMedTerm corpus"
## Adding a Dataset
- **Name:** *NLPMedTerm*
- **Description:** *A  Spanish clinical trials corpus annotated with UMLS entities*
- **Task:** *NER,NEN*
- **Paper:** *http://www.lllf.uam.es/ESP/nlpdata/wp2/s12911-021-01395-z.pdf*
- **Data:** *http://www.lllf.uam.es/ESP/nlpdata/wp2/CT-EBM-SP.zip*
- **License:** *CC BY-NC 4.0*
- **Motivation:** *Non-english clinical trails corpora are very rare*

[2022-03-30 00:11] j-chim commented on #253
#self-assign

[2022-03-30 00:12] j-chim commented on #251
#self-assign

[2022-03-30 00:14] j-chim commented on #231
#self-assign

[2022-03-30 00:16] j-chim commented on #99
#self-assign

[2022-03-30 09:12] mapama247 commented on #138
#self-assign

[2022-03-30 09:17] mapama247 commented on #245
#self-assign

[2022-03-30 09:21] mapama247 commented on #64
#self-assign

[2022-03-30 15:12] cakiki commented on #68
#self-assign

[2022-03-30 18:23] singhay commented on #38
#self-assign

[2022-03-30 18:23] singhay commented on #37
#self-assign

[2022-03-30 18:24] singhay commented on #37
#self-assign

[2022-03-30 18:24] singhay commented on #227
#self-assign

[2022-03-30 18:25] singhay commented on #41
#self-assign

[2022-03-30 19:10] nbroad1881 commented on #237
#self-assign

[2022-03-30 19:53] WojciechKusa commented on #57
#self-assign

[2022-03-30 22:44] mrm8488 commented on #238
I can do it #self-assigne

[2022-03-31 06:35] benjaminbeilharz commented on #232
#self-assign

[2022-03-31 06:43] benjaminbeilharz commented on #15
#self-assign

[2022-03-31 06:47] benjaminbeilharz commented on #18
#self-assign

[2022-03-31 06:56] danilexn commented on #283
#self-assign

[2022-03-31 07:03] mariosaenger commented on #282
#self-assign

[2022-03-31 07:24] benjaminbeilharz commented on #232
@jason-fries this was already done.

[2022-03-31 07:48] marianna13 commented on #224
#self-assign

[2022-03-31 08:07] benjaminbeilharz commented on #29
#self-assign

[2022-03-31 08:40] WojciechKusa commented on #175
#self-assign

[2022-03-31 08:40] WojciechKusa commented on #49
#self-assign

[2022-03-31 08:55] qanastek commented on #28
#self-assign

[2022-03-31 08:57] sugatoray commented on #249
#self-assign

[2022-03-31 09:02] sugatoray commented on #23
#self-assign

[2022-03-31 09:02] sugatoray commented on #24
#self-assign

[2022-03-31 09:05] sugatoray commented on #249
There seems to be a problem with this dataset's download link. Will be nice if someone else could also check it and confirm if this link is accessible.

- http://nlp.shef.ac.uk/BioWSD/downloads/corpora/index.html

cc: @jason-fries

[2022-03-31 09:47] nomisto commented on #30
#self-assign

[2022-03-31 10:32] sugatoray commented on #27
#self-assign

[2022-03-31 10:59] cakiki commented on #258
#self-assign

[2022-03-31 11:55] mdmanurung commented on #58
#self-assign

[2022-03-31 12:06] barthfab commented on #148
#self-assign

[2022-03-31 12:07] barthfab commented on #149
#self-assign

[2022-03-31 12:08] barthfab commented on #147
#self-assign

[2022-03-31 12:09] barthfab commented on #150
#self-assign

[2022-03-31 12:50] vumichien commented on #96
#self-assign

[2022-03-31 13:01] vumichien commented on #91
#self-assign

[2022-03-31 13:06] vumichien commented on #233
#self-assign

[2022-03-31 13:13] qanastek commented on #28
PR https://github.com/bigscience-workshop/biomedical/pull/292

[2022-03-31 13:17] qanastek commented on #67
#self-assign

[2022-03-31 14:26] qanastek commented on #53
#self-assign

[2022-03-31 15:10] barthfab commented on #145
#self-assign

[2022-03-31 15:12] barthfab commented on #151
#self-assign

[2022-03-31 15:21] mariagrandury commented on #139
Hello, I would like to create this dataset loader. The dataset of the [eHealth-KD 2020](https://huggingface.co/datasets/ehealth_kd) challenge is already in the Hub and I was wondering if there was a reason to create the loader for the 2019 version.

[2022-03-31 15:23] mariagrandury commented on #65
#self-assign

[2022-03-31 15:24] mariagrandury commented on #139
#self-assign

[2022-03-31 15:31] mariagrandury commented on #66
#self-assign

[2022-03-31 15:34] mdmanurung commented on #58
Hi @hakunanatasha, I noticed that there's already some work on this in the examples folder: https://github.com/bigscience-workshop/biomedical/blob/master/examples/hallmarks_of_cancer.py

So is this task redundant?

[2022-03-31 16:06] davidstap commented on #256
#self-assign

[2022-03-31 16:07] davidstap commented on #255
#self-assign

[2022-03-31 16:07] davidstap commented on #254
#self-assign

[2022-03-31 16:07] HallerPatrick commented on #48
#self-assign

[2022-03-31 16:08] HallerPatrick commented on #62
#self-assign

[2022-03-31 16:09] HallerPatrick commented on #209
#self-assign

[2022-03-31 17:23] bwang482 commented on #32
#self-assign

[2022-03-31 17:46] whoisjones commented on #92
#self-assign

[2022-03-31 17:47] whoisjones commented on #223
#self-assign

[2022-03-31 19:13] vasudev-sharma commented on #46
Interested in this.

[2022-03-31 20:19] mdmanurung commented on #252
#self-assign

[2022-03-31 20:20] mdmanurung commented on #261
#self-assign

[2022-03-31 20:40] mdmanurung commented on #243
Too bad that the authors did not include the actual posts that were labeled; these have to be scraped still.

[2022-03-31 20:42] mdmanurung commented on #235
#self-assign

[2022-03-31 21:20] singhay commented on #33
#self-assign

[2022-04-01 01:51] vasudev-sharma commented on #56
Interested.

[2022-04-01 01:51] vasudev-sharma commented on #71
Interested

[2022-04-01 04:20] debajyotidatta commented on #250
#self-assign

[2022-04-01 04:40] debajyotidatta commented on #244
#self-assign

[2022-04-01 04:44] trishalaneeraj commented on #163
#self-assign

[2022-04-01 04:44] trishalaneeraj commented on #162
#self-assign

[2022-04-01 04:44] trishalaneeraj commented on #161
#self-assign

[2022-04-01 04:45] trishalaneeraj commented on #155
#self-assign

[2022-04-01 04:45] debajyotidatta commented on #154
#self-assign

[2022-04-01 04:46] debajyotidatta commented on #153
#self-assign

[2022-04-01 04:49] debajyotidatta commented on #71
@vasudev-sharma : Awesome! If you want to do it just assign yourself with the `#self-assign` tag. This way we can track easily on the project board.

[2022-04-01 05:13] #13 closed

[2022-04-01 10:36] luou-wen commented on #229
#self-assign

[2022-04-01 13:36] giganttheo commented on #248
#self-assign

[2022-04-01 16:15] qanastek commented on #28
NEW PR https://github.com/bigscience-workshop/biomedical/pull/304

[2022-04-01 16:22] qanastek commented on #53
PR https://github.com/bigscience-workshop/biomedical/pull/306

[2022-04-01 16:31] MFreidank commented on #61
#self-assign

[2022-04-01 16:54] qanastek commented on #225
#self-assign

[2022-04-01 16:57] qanastek commented on #230
#self-asign

[2022-04-01 17:01] qanastek commented on #230
#self-assign

[2022-04-01 17:45] giganttheo commented on #74
#self-assign

[2022-04-01 18:43] jdposada commented on #219
#self-assign

[2022-04-01 18:43] jdposada commented on #220
#self-assign

[2022-04-01 18:46] jdposada commented on #245
#self-assign

[2022-04-01 18:49] jdposada commented on #207
#self-assign

[2022-04-01 21:27] jason-fries commented on #35
This is a duplicate dataset submission.  See https://github.com/bigscience-workshop/biomedical/issues/36

[2022-04-01 21:41] alisoncallahan commented on #242
#self-assign

[2022-04-01 21:48] alisoncallahan commented on #42
#self-assign

[2022-04-01 21:48] alisoncallahan commented on #43
#self-assign

[2022-04-02 00:57] qanastek commented on #225
I migrate the project to [Zenodo](https://zenodo.org/record/6407402#.Ykecq-dBybi) since the shortcoming Google Drive is that the integrated antivirus system cannot scan files that are larger than 100 MB and the corpus is 324 MB. After this 100 MB barrier, downloading the file require a manual step to accept the "conditions" by clicking on the `Accept` button :

[code]

The Zenodo repository contai

[2022-04-02 07:52] leonweber commented on #225
I think you should be able to download the dataset programatically via [gdown](https://pypi.org/project/gdown/)

[2022-04-02 09:49] qanastek commented on #53
Adding a Dataset
- Name: miRNA
- Description: None provided
- Task: NER
- Paper: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4602280/
- Data: https://www.scai.fraunhofer.de/en/business-research-areas/bioinformatics/downloads/download-mirna-test-corpus.html
- License: Attribution-NonCommercial 3.0 Unported (CC BY-NC 3.0)

[2022-04-02 10:23] qanastek commented on #225
I have not use [gdown](https://pypi.org/project/gdown/) since it's not available in the requirements of the project or the [datasets](https://github.com/huggingface/datasets) library. Or either, should I make a check inside my code and ask to the user the installation of it ? Like this :

[code]

[2022-04-02 14:14] nbroad1881 commented on #237
This dataset does not quite fit any of the tasks. The authors' approach is to do text classification by passing two texts through the model. This is most similar to PAIRS, but the only listed task under PAIRS is STS which does not accurately describe this task. The task is TXTCLASS

The two approaches the authors took are:
1. Given a claim and a sentence, label that sentence as a "rationale" (coul

[2022-04-02 15:49] danilexn commented on #63
#self-assign

[2022-04-02 22:45] clarkpolner commented on #247
I reached out to the Jan Kors for access

[2022-04-03 01:07] #57 closed

[2022-04-03 13:00] mart1nro commented on #98
#self-assign

[2022-04-03 15:42] danilexn commented on #246
#self-assign

[2022-04-03 15:50] danilexn commented on #246
This dataset is behind a "store page". Links (with a 48 h expiration period) are generated only after putting an email address.

Should I consider it as local?

[2022-04-03 19:26] #53 closed

[2022-04-03 19:33] #224 closed

[2022-04-03 19:57] galtay commented on #246
I would consider it local yes. In general, if we can't get a reproducible download using the `dl_manager` object, we should treat it as local.

[2022-04-03 20:02] galtay commented on #237
This appears to be an entailment task to me. Do you think it would fit into this schema? https://github.com/bigscience-workshop/biomedical/blob/master/task_schemas.md#textual-entailment

[2022-04-03 20:30] galtay commented on #225
Having examine a few other corner cases, I think we are converging on "If the `dl_manager` object provided by datasets can not easily download the dataset, then implement is as local.

[2022-04-03 21:08] hakunanatasha commented on #247
@qanastek @clarkpolner  Hi Qanastek and Clark- Please note some datasets may be under licensing agreements which will not allow public access.

If you find yourself with a dataset that is under strict licensing, please feel free to pick a publicly accessible dataset instead. I know some are restricted to academic sources only.

[2022-04-03 21:09] hakunanatasha commented on #247
Just in case - some issues are tagged with labels; these licenses are known. You can look for labels that indicate public licenses (ex: CC or Creative Commons, I think) @jason-fries  @galtay

[2022-04-03 21:29] galtay commented on #225
@qanastek update from https://github.com/lhoestq  ... the `dl_manager` does support google drive (with the google drive direct download link). can you try an implement as in this example? https://huggingface.co/datasets/cnn_dailymail/blob/main/cnn_dailymail.py#L67

[2022-04-03 21:42] nbroad1881 commented on #237
In my opinion, the schema is essentially the same whether it's entailment or text pairs.  I'll make the task and schema textual entailment as you recommend. Thank you.

[2022-04-04 00:14] qanastek commented on #225
@galtay I already tried it :

I use this code :

[code]

When I check the single file downloaded we got using :

[code]

We can see that the dl_manager had simply download the html page :

[code]

[2022-04-04 00:15] galtay commented on #247
Yes, some datasets are not publicly available and may require data user agreements, documented HIPÅA training, a written proposal detailing how the data will be used ... etc.  It appears that this one specifically asks users to contact Jan for further information (https://biosemantics.erasmusmc.nl/index.php/resources/emc-dutch-clinical-corpus). This looks like a clear case of something that should

[2022-04-04 00:18] qanastek commented on #225
https://github.com/bigscience-workshop/biomedical/issues/225#issuecomment-1086943581 Have you any example that following the BigScience Biomedical guideline ?

[2022-04-04 00:19] jason-fries commented on #225
@qanastek I believe this URL should work? Can you test?

[code]

[2022-04-04 00:41] galtay commented on #237
Yes ... at one point we required the label in the entailment task to be one of [entailment, contradiction, neutral], but we ended up with the more general "string" version ... which makes the *schema* basically the same as the text pairs schema. My hope is that when people are doing multi-task learning on this bigbio corpus, they will be able to take advantage of the fact that entailment tasks hav

[2022-04-04 01:18] galtay commented on #225
this is working for me locally,
[code]

can you confirm @qanastek ?

[2022-04-04 01:23] galtay commented on #225
.... also just thinking about some potential pitfalls ... you might want to clear your datasets cache

[2022-04-04 02:42] JohnGiorgi commented on #47
#self-assign

[2022-04-04 02:43] JohnGiorgi commented on #54
#self-assign

[2022-04-04 02:45] JohnGiorgi commented on #222
#self-assign

[2022-04-04 07:51] qanastek commented on #225
https://github.com/bigscience-workshop/biomedical/issues/225#issuecomment-1087014365 I cleared it just before the example on top.

[2022-04-04 08:02] qanastek commented on #225
@jason-fries Your link is working perfectly! Replacing `id` with `confirm` solve the problem.

[2022-04-04 08:30] marianna13 commented on #95
#self-assign

[2022-04-04 09:05] qanastek commented on #225
Commit df06a8074865ba124d6f413b3109be0d64dc0b41

[2022-04-04 09:11] qanastek commented on #225
PR https://github.com/bigscience-workshop/biomedical/pull/322

[2022-04-04 09:32] nomisto commented on #217
#self-assign

[2022-04-04 13:37] giganttheo commented on #69
#self-assign

[2022-04-04 13:53] qanastek commented on #28
PR https://github.com/bigscience-workshop/biomedical/pull/326

[2022-04-04 14:09] #283 closed

[2022-04-04 16:00] shpotes commented on #208
#self-assign

[2022-04-04 16:04] s-desh opened #327 "Create dataset loader for GEOKhoj v1"
## Adding a Dataset
- **Name:** *GEOKhoj v1*
- **Description:** *Metadata has been extracted for samples from Microarray, Transcriptomics and Single cell experiments which are available on the GEO (Gene Expression Omnibus) database (GEO is a public functional genomics data repository supporting MIAME-compliant data submissions). This dataset contains metadata for 30,000 samples with their respecti

[2022-04-04 16:28] hakunanatasha commented on #327
@s-desh this is pretty cool - if you feel comfortable implementing it, please go ahead!

[2022-04-04 16:31] hakunanatasha commented on #327
It also looks like this is the source paper: https://www.nature.com/articles/ncomms12846

[2022-04-04 22:10] JohnGiorgi commented on #222
Hi!

I have made pretty good progress on this today. I've already had some back and forth with @hakunanatasha in the discord (thank you! it was very helpful) but just wanted to follow up with a few things:

1. I originally said that the dataset came in two flavours: full text + annotations and just annotations. I was mistaken, its actually full text + annotations or title/abstract + annotations. I

[2022-04-04 22:15] uzaymacar commented on #257
#self-assign

[2022-04-04 22:21] uzaymacar commented on #60
#self-assign

[2022-04-04 22:22] uzaymacar commented on #116
#self-assign

[2022-04-04 22:38] napsternxg commented on #67
#self-assign

[2022-04-04 22:39] napsternxg commented on #119
#self-assign

[2022-04-04 22:44] napsternxg commented on #59
#self-assign

[2022-04-04 22:46] napsternxg commented on #113
#self-assign

[2022-04-05 03:04] sahil280114 commented on #239
#self-assign

[2022-04-05 03:05] sahil280114 commented on #240
#self-assign

[2022-04-05 03:06] sahil280114 commented on #241
#self-assign

[2022-04-05 04:38] s-desh commented on #327
@hakunanatasha Sure. Just fyi, the above mentioned paper was used as a reference and is not the source paper. We at [Elucidata](https://github.com/ElucidataInc) were very inspired by this paper and extended its work by curating 30k samples.

[2022-04-05 06:44] sushil-bharati commented on #221
#self-assign

[2022-04-05 06:44] sushil-bharati commented on #218
#self-assign

[2022-04-05 06:44] sushil-bharati commented on #216
#self-assign

[2022-04-05 08:01] #14 closed

[2022-04-05 13:34] #63 closed

[2022-04-05 15:24] #282 closed

[2022-04-05 15:25] bwang482 commented on #73
#self-assign

[2022-04-05 16:22] #263 closed

[2022-04-05 17:49] SamuelCahyawijaya commented on #40
I am trying to get access to the dataset, but I need to be a credentialed user in physionet.org which might take weeks  to be approved as a credentialed user. Any suggestion?

[2022-04-05 18:10] jason-fries commented on #40
Hi @SamuelCahyawijaya,
Thanks for the ping. Sometimes PhysioNet credentialing is fast, but it's hard to estimate here. I would volunteer for another dataset and release this one back into the pool.

[2022-04-05 18:20] FremyCompany opened #337 "Proposal to add the "Snomed Translation Dictionaries" datasets"
Hi,

I am author of the following translation corpus:

I see that you are already working on a translation corpus (ParaMed). Would it be interesting if I contributed these dictionaries?

Would it be interesting if I contributed these dictionaries?

[2022-04-05 18:24] FremyCompany opened #338 "Proposal to add EMEA Parallel datasets"
I wouldn't mind contributing translation pairs for the EMEA drug notices. They are already available here:

I have also found manually aligned data on the same dataset, which is not very well known, but I could contribute too:

If that dataset is not already being considered for span tagging, I could work on that too.

What are your thoughts?

[2022-04-05 18:39] mcullan commented on #213
#self-assign

[2022-04-05 18:40] mcullan commented on #97
#self-assign

[2022-04-05 18:45] mcullan commented on #117
#self-assign

[2022-04-05 19:54] #58 closed

[2022-04-05 19:55] #21 closed

[2022-04-05 19:59] j-chim commented on #140
I'm working on #99 (same paper) and would be happy to work on this too.
Is this open even though it's not marked as part of the hackathon?

[2022-04-06 00:06] #231 closed

[2022-04-06 04:01] s-desh commented on #327
#self-assign

[2022-04-06 06:37] s-desh commented on #206
#self-assign

[2022-04-06 06:39] s-desh commented on #212
#self-assign

[2022-04-06 07:56] nomisto commented on #253
#self-assign

[2022-04-06 08:30] marianna13 commented on #118
#self-assign

[2022-04-06 08:48] sg-wbi commented on #140
Hi, thank you for contributing! Yes it is open and thanks for doble=checking with the official list. Don't know why it's not in there.

[2022-04-06 09:44] s-desh commented on #206
#self-assign

[2022-04-06 12:47] cakiki commented on #68
Should this also include the corresponding test set: https://www.openagrar.de/receive/openagrar_mods_00049062

[2022-04-06 13:17] mart1nro commented on #114
#self-assign

[2022-04-06 14:12] galtay commented on #140
@hakunanatasha can you add this to the project board?

[2022-04-06 14:39] karthikrangasai commented on #137
Hello all,

The dataset has a brat format available, but the `.ann` files have lines starting with `#` which according to the format specification are Annotator Notes. ( [Format Specification](https://brat.nlplab.org/standoff.html) )

But in the examples of the dataset, the Tags seem to be in that very line that starts with `#`.

I am unsure of how to proceed in regards with this and am seeking so

[2022-04-06 14:42] NtaylorOX opened #355 "Mimic-III:Mortality-Prediction"
## Adding a Dataset
- **Name:** *Mimic-III*
- **Description:** *Predicting patient mortality from admission and discharge notes,*
- **Task:** Text classification
- **Paper:** *https://arxiv.org/abs/2102.04110*
- **Data:** *link to the Github repository or current dataset location*
- **License:** *PhysioNet*
- **Motivation:** *The utitlity of applying NLP methods to clinical decision task is massiv

[2022-04-06 15:10] nadahlberg commented on #243
#self-assign

[2022-04-06 15:11] nadahlberg commented on #243
@jason-fries working on a crawler for this now -- can I implement if able to collect the text?

[2022-04-06 15:18] FremyCompany opened #356 "Proposal to add the MedSTS dataset"
## Adding a Dataset
- **Name:** MedSTS
- **Description:** 1,068 sentence pairs annotated by two medical experts with semantic similarity scores of 0-5 (low to high similarity).
- **Task:** STS
- **Paper:** https://arxiv.org/abs/1808.09397
- **Data:** (must be asked by email to Mayo Clinic)
- **License:** (probably depends on agreement with Mayo Clinic)
- **Motivation:** one of the largest clinical

[2022-04-06 15:27] mcullan commented on #215
#self-assign

[2022-04-06 15:36] giyaseddin commented on #355
#self-assign

[2022-04-06 15:45] hakunanatasha commented on #337
Hi @FremyCompany has anyone followed up on this or the other issue/dataset you suggested? I think our recommendation is that you are welcome to implement these @leonweber @jason-fries @galtay @sunnnymskang tagged in case I am mis-speaking.

[2022-04-06 15:49] giyaseddin commented on #169
#self-assign

[2022-04-06 15:52] FremyCompany commented on #247
I have sent an email to Jan as this dataset is relevant for my research, and I will keep you updated on what reply I get.

[2022-04-06 15:54] giyaseddin commented on #211
#self-assign

[2022-04-06 15:55] hakunanatasha commented on #48
Hi @HallerPatrick, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this

[2022-04-06 15:56] hakunanatasha commented on #47
Hi @JohnGiorgi, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. I think I saw a couple of your discord posts but just checking in : )

[2022-04-06 15:57] hakunanatasha commented on #46
Hi @vasudev-sharma, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this

[2022-04-06 15:59] JohnGiorgi commented on #54
I am planning on getting started on this but the link is dead :(

[2022-04-06 16:00] hakunanatasha commented on #43
Hi @alisoncallahan, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:01] hakunanatasha commented on #41
Hi @singhay, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:02] hakunanatasha commented on #39
Hi @clancyoftheoverflow, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:02] hakunanatasha commented on #38
Hi @singhay, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:02] hakunanatasha commented on #37
Hi @singhay, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins).

Also - great seeing you at the meet-n-greet : )

[2022-04-06 16:03] hakunanatasha commented on #36
Hi @clancyoftheoverflow, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:04] JohnGiorgi commented on #47
Yes, planning on starting today actually, just need to ask a follow up question in the discord

[2022-04-06 16:04] hakunanatasha commented on #32
Hi @bwang482, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins).

Good to see you on the datasets : )

[2022-04-06 16:04] hakunanatasha commented on #31
Hi @bwang482 let us know the status : ) I know you've done n2c2 before so ping us if you need help!

[2022-04-06 16:05] hakunanatasha commented on #30
Merged with #188

[2022-04-06 16:05] #30 closed

[2022-04-06 16:05] hakunanatasha commented on #29
Hi @benjaminbeilharz, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:06] hakunanatasha commented on #27
Hi @sugatoray, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:08] hakunanatasha commented on #25
@nomisto good catch - i think we'll implement with official splits. There is a small amount of datasets currently overlapping with the original library.

@jason-fries @galtay @leonweber thoughts?

[2022-04-06 16:08] hakunanatasha commented on #25
@SamuelCahyawijaya can you let us know if you still intend to work on this? We'd like to update our project board. Please let us know by **Friday, April 8**, so we can plan accordingly. You can ping me in a comment via @hakunanatasha or on Discord with @admins

[2022-04-06 16:09] hakunanatasha commented on #23
Hi @sugatoray,, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:09] hakunanatasha commented on #22
Hi @sugatoray, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:10] hakunanatasha commented on #20
@sunnnymskang are you working on this?

[2022-04-06 16:10] hakunanatasha commented on #18
Hi @benjaminbeilharz, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:11] hakunanatasha commented on #15
Hi @benjaminbeilharz, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either @hakunanatasha or ping the discord admins (with @admins)

[2022-04-06 16:12] hakunanatasha commented on #19
Merged and finished.

[2022-04-06 16:12] #19 closed

[2022-04-06 16:15] SamuelCahyawijaya commented on #25
@hakunanatasha : Yes, actually I am working on this one right now and I find a problem with the PQA-L(abelled) as the official split on the github link above is actually a 10-fold CV. Should I use only a single split or provide multiple configs for each fold?

[2022-04-06 16:16] hakunanatasha commented on #44
example issue already merged

[2022-04-06 16:16] #44 closed

[2022-04-06 16:23] hakunanatasha commented on #50
Hi @stephenbach, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:24] hakunanatasha commented on #51
Hi @stephenbach, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:24] hakunanatasha commented on #52
Hi @stephenbach, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:25] hakunanatasha commented on #54
@JohnGiorgi oh boy! Let me ping the other admins @jason-fries @leonweber @galtay

For now, please feel free to pick another dataset.

[2022-04-06 16:25] bwang482 commented on #32
I am @hakunanatasha
I will get more time to work on this later this week and during the weekends.

[2022-04-06 16:25] hakunanatasha commented on #55
Hi @SamuelCahyawijaya, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:26] JohnGiorgi commented on #20
#self-assign

[2022-04-06 16:26] hakunanatasha commented on #59
Hi @napsternxg, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:27] hakunanatasha commented on #60
Hi @uzaymacar, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:27] hakunanatasha commented on #61
Hi @MFreidank, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:28] hakunanatasha commented on #62
Hi @HallerPatrick, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:28] hakunanatasha commented on #64
Hi @mapama247, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:29] hakunanatasha commented on #65
Hi @mariagrandury, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:29] hakunanatasha commented on #66
Hi @mariagrandury, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:29] hakunanatasha commented on #67
Hi @napsternxg, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:30] hakunanatasha commented on #68
@jason-fries @leonweber @galtay not sure! i'm pinging the other admins

[2022-04-06 16:30] GullyBurns commented on #94
#self-assign

[2022-04-06 16:31] hakunanatasha commented on #72
Hi @mapama247, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:32] hakunanatasha commented on #73
Hi Bo! How's it going : ) let us know if you have questions!

[2022-04-06 16:32] stephenbach commented on #50
Yup, I plan to work on these. My understanding was that the hackathon goes till the 15th, so I aim to get it in by then. Let me know if that's an issue. Same for #51 #52.

[2022-04-06 16:32] hakunanatasha commented on #74
Hi @giganttheo  - keep us posted on the status via discord or ideally a ping here!

[2022-04-06 16:33] hakunanatasha commented on #80
merged example closed

[2022-04-06 16:33] #80 closed

[2022-04-06 16:33] bwang482 commented on #31
Thanks @hakunanatasha ! Will do.

[2022-04-06 16:34] hakunanatasha commented on #91
Hi @vumichien, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins). I see that you're active on the discord so we are greatly looking forward to your submis

[2022-04-06 16:34] hakunanatasha commented on #54
@JohnGiorgi link posted! Thanks for letting us know.

[2022-04-06 16:35] hakunanatasha commented on #128
it works!

[2022-04-06 16:35] #128 closed

[2022-04-06 16:36] hakunanatasha commented on #94
Hi @GullyBurns looking forward to your submission : ) let us know if you need any assistance by pinging the admins (@jason-fries @leonweber @galtay @debajyotidatta @sunnnymskang @sg-wbi)

[2022-04-06 16:37] hakunanatasha commented on #96
Hi @vumichien, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins). I see you on the Discord so ping us there if it's easier than a comment here : )

[2022-04-06 16:38] hakunanatasha commented on #97
@mcullan were you assigned to this? seems like it somehow dropped you!

[2022-04-06 16:38] hakunanatasha commented on #97
please ping me at @hakunanatasha in case it doesnt work and ill manually assign you

[2022-04-06 16:39] hakunanatasha commented on #113
Hi @napsternxg, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:39] hakunanatasha commented on #114
Hi @mart1nro, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:40] hakunanatasha commented on #116
Hi @uzaymacar, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:40] hakunanatasha commented on #117
Hi @mcullan, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins). I recognize you *just* signed up but we are cruising through all the issues and checking i

[2022-04-06 16:41] hakunanatasha commented on #118
Hi @marianna13, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins); I recognize you *juuuust* assigned yourself but I am just cruising through all the issu

[2022-04-06 16:41] hakunanatasha commented on #119
Hi @napsternxg, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:42] hakunanatasha commented on #137
@leonweber @jason-fries @galtay @sg-wbi @sunnnymskang @debajyotidatta Pinged some other admins to answer this!

[2022-04-06 16:43] hakunanatasha commented on #138
Hi @mapama247, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:43] hakunanatasha commented on #139
Hi @mariagrandury, can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**, no worries if you are not finished but intend to work on this. Please either ping me here at @hakunanatasha  or ping the discord admins (with @admins)

[2022-04-06 16:44] hakunanatasha commented on #142
you have admin access : )

[2022-04-06 16:44] #142 closed

[2022-04-06 16:44] hakunanatasha commented on #145
@barthfab let us know if you need help

[2022-04-06 16:47] hakunanatasha commented on #33
fabulous thank you! Ill assume all datasets with `singhay` will be `in-progress` on the project board

[2022-04-06 16:48] marianna13 commented on #118
Hi! Yes, I'm working on the loader script for this dataset. By the way, I have encountered a problem: can you, please, tell me which database should I use for the normalization in entities? If I should use any😊

[2022-04-06 16:52] JohnGiorgi commented on #20
Ah okay, let me know if not! I sort of jumped the gun and got it halfway done.

I also wrote a function to parse the pubtator-like format that this corpus comes in if that's useful 🤷 I am also using it in #222.

[2022-04-06 17:16] hakunanatasha commented on #20
@JohnGiorgi turns out it's not - have at it! This is great!

[2022-04-06 17:56] sugatoray commented on #24
@hakunanatasha Thank you, for getting in touch with me. Yes, I am working on it. I will keep you posted on the progress here.

[2022-04-06 17:57] sugatoray commented on #27
@hakunanatasha Thank you, for getting in touch with me. Yes, I am working on it. I will keep you posted on the progress here.

[2022-04-06 18:45] sidkiblawi commented on #115
#self-assign

[2022-04-06 20:59] vumichien commented on #96
@hakunanatasha I have made a PR in here #346

[2022-04-06 21:07] vumichien commented on #91
Hi @hakunanatasha  I am still working on it

[2022-04-06 21:12] sidkiblawi commented on #115
Submitted PR https://github.com/bigscience-workshop/biomedical/pull/359

[2022-04-06 21:54] nomisto commented on #172
#self-assign

[2022-04-06 22:25] alisoncallahan commented on #42
@hakunanatasha yes! still working on these - planning to dedicate most time to it next week (April 11-April 15). thanks!

[2022-04-06 22:41] qanastek opened #360 "Proposal to add the CLEAR dataset"
## Adding a Dataset
- **Name:** *CLEAR*
- **Description:** *The dataset contains three corpora of documents with comparable contents. Each corpus provides technical and simple/simplified texts on a given topic in French.*
- **Task:** *Text Pairs (Text Simplification)*
- **Paper:** *https://aclanthology.org/W18-7002/*
- **Data:** *http://natalia.grabar.free.fr/resources.php*
- **License:** *Unknown

[2022-04-06 22:42] qanastek commented on #360
#self-assign

[2022-04-07 03:50] #237 closed

[2022-04-07 06:34] napsternxg commented on #113
Hi @hakunanatasha yes I plan to work on this over the weekend.

[2022-04-07 06:34] napsternxg commented on #59
Hi @hakunanatasha yes I plan to work on this over the weekend.

[2022-04-07 06:35] napsternxg commented on #67
Hi @hakunanatasha yes I plan to work on this over the weekend.

[2022-04-07 06:35] napsternxg commented on #119
Hi @hakunanatasha yes I plan to work on this over the weekend.

[2022-04-07 06:39] leonweber commented on #137
From the paper: The comments correspond to 'CUI, preferred term, semantic type, and semantic group (DISO is “Disorders”)'. These have been all manually verified. My suggestion would be to
* Add support for annotator notes to `utils.parsing.parse_brat`
* Implement 'CUI', 'preferred term', 'semantic type' and 'semantic group' all as separate fields in the `source` schema
* Implement 'semantic group'

[2022-04-07 06:58] leonweber commented on #54
This issue is duplicated in #216. There a working link can be found (https://github.com/metalrt/ppi-dataset/blob/master/csv_output/IEPA-train.xml).

However, we now have two people (@JohnGiorgi, @sushil-bharati) assigned to the same corpus. Would one of you be willing to switch to another dataset?

[2022-04-07 07:24] #96 closed

[2022-04-07 07:36] NtaylorOX commented on #355
But this was me suggesting the dataset for me to then self-assign...

[2022-04-07 07:37] NtaylorOX commented on #355
#self-assign

[2022-04-07 07:41] giyaseddin commented on #355
Ugh! sorry, I didn't pay attention.

[2022-04-07 07:43] MFreidank commented on #61
Hi @hakunanatasha, yes, I'm working on this :)
Will open a PR once I have a first draft implementation ready.

[2022-04-07 07:45] NtaylorOX commented on #355
No worries at all! I may have mis understood the process. Not your fault

[2022-04-07 10:11] #95 closed

[2022-04-07 11:08] qanastek commented on #28
Merged into Master https://github.com/bigscience-workshop/biomedical/commit/3f280a49af30616aa2d6c53b850ed18da7563e3d

[2022-04-07 11:21] mdmanurung opened #365 "Proposal to add GeneCards dataset"
## Adding a Dataset
- **Name:** GeneCards
- **Description:** Comprehensive human gene database.
- **Task:** Many possibilities here.
- **Paper:** https://pubmed.ncbi.nlm.nih.gov/27322403/
- **Data:** [link to website](https://www.genecards.org/)
- **License:** Available for research purposes via academic collaboration agreement
- **Motivation:** Having comprehensive information on human genes woul

[2022-04-07 12:18] giganttheo commented on #74
Hi @hakunanatasha . I am still working on it, it's almost finished, I am sending a merge request in a few days for this dataset script :)

[2022-04-07 12:22] giganttheo commented on #69
Hi @hakunanatasha . I have a finished script for this task. Since the dataset also contains information for a POS-tagging task for which no bigbio schema is relevant, I suggested a new schema in a merge request (https://github.com/bigscience-workshop/biomedical/pull/366). If it is accepted I will add this new schema for this specific dataset. Otherwise I will also push my dataloading script for th

[2022-04-07 12:23] giganttheo commented on #69
Also I think the "Brazilian Portuguese" tag is not relevant for this dataset since it contains only French text :)

[2022-04-07 12:27] #28 closed

[2022-04-07 12:49] JohnGiorgi commented on #54
Oh whoops! @sushil-bharati is free to take it as I already have three datasets

[2022-04-07 13:05] sg-wbi commented on #211
This might be superseded by #117

[2022-04-07 14:24] leonweber commented on #54
Closing this in favor of #216.
Thanks @JohnGiorgi !

[2022-04-07 14:59] SamuelCahyawijaya commented on #55
Hi @hakunanatasha, sorry for the late reply, I just finished working on it and open a PR [here](https://github.com/bigscience-workshop/biomedical/pull/368).

[2022-04-07 15:33] Bharat123rox commented on #170
#self-assign

[2022-04-07 15:56] #99 closed

[2022-04-07 16:47] SamuelCahyawijaya commented on #228
I create a PR for this dataset [here](https://github.com/bigscience-workshop/biomedical/pull/369).
I think it is still subject to change since the QA format for this dataset is still under discussion.

[2022-04-07 22:02] jason-fries commented on #93
Hey @galtay, do you still want to work on this or free it up for participants :)

[2022-04-07 22:04] jason-fries commented on #150
Hi @barthfab can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**. No worries if you are not finished but still intend to work on this!

[2022-04-07 22:05] jason-fries commented on #149
Hi @barthfab can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**. No worries if you are not finished but still intend to work on this!

[2022-04-07 22:05] jason-fries commented on #147
Hi @barthfab can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**. No worries if you are not finished but still intend to work on this!

[2022-04-07 22:05] jason-fries commented on #146
Hi @barthfab can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**. No worries if you are not finished but still intend to work on this!

[2022-04-07 22:09] jason-fries commented on #214
Hi @whoisjones  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:09] jason-fries commented on #213
Hi @mcullan can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:09] jason-fries commented on #212
Hi @s-desh  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:09] jason-fries commented on #212
Hi @s-desh can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:09] jason-fries commented on #210
Hi @shpotes  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:10] jason-fries commented on #209
Hi @HallerPatrick  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:10] jason-fries commented on #208
Hi @shpotes  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:10] jason-fries commented on #207
Hi @jdposada can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:10] jason-fries commented on #206
Hi @s-desh  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:11] jason-fries commented on #171
Hi @barthfab can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:11] jason-fries commented on #170
Hi @Bharat123rox  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:11] jason-fries commented on #169
Hi @giyaseddin can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:11] jason-fries commented on #163
Hi @trishalaneeraj  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:11] jason-fries commented on #162
Hi @trishalaneeraj  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:12] jason-fries commented on #161
Hi @trishalaneeraj  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:12] jason-fries commented on #154
Hey @debajyotidatta let us know if you have bandwidth to implement this. Otherwise we'll release back into the pool!

[2022-04-07 22:18] jason-fries commented on #241
Hi @sahil280114  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:18] jason-fries commented on #240
Hi @sahil280114   can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:18] jason-fries commented on #239
Hi @sahil280114   can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:19] jason-fries commented on #238
Hi @mrm8488   can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:19] jason-fries commented on #236
Hi @KranthiGV   can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:19] jason-fries commented on #235
Hi @mdmanurung   can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:19] jason-fries commented on #234
Hi @cakiki   can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:19] jason-fries commented on #233
Hi @vumichien   can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:20] jason-fries commented on #232
Sorry about that @benjaminbeilharz! Thanks for reminding us 😅

[2022-04-07 22:20] #232 closed

[2022-04-07 22:20] jason-fries commented on #230
Hi @qanastek   can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:20] jason-fries commented on #229
Hi @luou-wen  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:21] jason-fries commented on #227
Hi @singhay can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:21] jason-fries commented on #226
Hi @nbroad1881 can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:21] jason-fries commented on #223
Hi @whoisjones can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:21] jason-fries commented on #221
Hi @sushil-bharati  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:21] jason-fries commented on #220
Hi @jdposada can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:22] jason-fries commented on #219
Hi @jdposada can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:22] jason-fries commented on #218
Hi @sushil-bharati can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:22] jason-fries commented on #215
Hi @mcullan can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:25] jason-fries commented on #243
@nadahlberg WOW! That would be incredible. If you can come up with a generic enough solution, maybe we could implement this into utils for similar datasets? Let us know how we can help !!

[2022-04-07 22:41] giyaseddin commented on #169
Yeah, I'm planning to open a PR soon, also I'm waiting in case another dataset frees up!
Thanks for asking @jason-fries

[2022-04-07 22:42] jason-fries commented on #245
Hi @mapama247  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:43] jason-fries commented on #249
@sugatoray Looks like the link is down for me too. Might check later? Otherwise apologies !

[2022-04-07 22:43] jason-fries commented on #251
Hi @j-chim  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:43] jason-fries commented on #252
Hi @mdmanurung  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:43] jason-fries commented on #254
Hi @davidstap  you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:43] jason-fries commented on #255
Hi @davidstap  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:43] jason-fries commented on #256
Hi @davidstap  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:43] jason-fries commented on #257
Hi @uzaymacar  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:44] jason-fries commented on #258
Hi @cakiki  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:44] jason-fries commented on #261
Hi @mdmanurung  can you let us know if you are still working on this so we can update our project board? Please just notify us the status **by Friday April 8**.  You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-07 22:45] qanastek commented on #230
Yes, I'm still working on it!

[2022-04-07 22:46] j-chim commented on #251
Yup, thanks for checking in! doing this over at #341. Just waiting for the multiple choice QA schema to be finalized before I push an updated version.

[2022-04-07 22:59] sugatoray commented on #249
Thank you, for checking it out and confirming.

[2022-04-07 23:03] giyaseddin opened #371 "Proposal to add MedMCQA dataset"
## Adding a Dataset
- **Name:** *MedMCQA : A Large-scale Multi-Subject Multi-Choice Dataset for Medical domain Question Answering*
- **Description:** *A large-scale (194k), Multiple-Choice Question Answering (MCQA) dataset designed to address real-world medical entrance exam questions.*
- **Task:** *QnA*
- **Paper:** *https://arxiv.org/abs/2203.14371*
- **Data:** *https://github.com/medmcqa/medmcq

[2022-04-07 23:04] giyaseddin commented on #371
#self-assign

[2022-04-07 23:50] mcullan commented on #117
@hakunanatasha I'm still working on these and expect to finish them this weekend. Thanks for making this all possible!

[2022-04-07 23:51] mcullan commented on #97
@hakunanatasha thanks - I noticed the assignment bot didn't work. Yes, please assign me!

[2022-04-07 23:51] mcullan commented on #213
HI @jason-fries , I am still working and intend to finish in the next few days!

[2022-04-07 23:51] mcullan commented on #215
@jason-fries Hi Jason, still working on this one as well. Hope to wrap everything up this weekend.

[2022-04-08 00:00] singhay commented on #227
working on other dataloaders, will start on this one after those.

[2022-04-08 00:11] vumichien commented on #233
Hi @jason-fries, I am still working on this dataset

[2022-04-08 02:27] #253 closed

[2022-04-08 03:35] #26 closed

[2022-04-08 03:44] s-desh commented on #206
Yes @jason-fries, I'm still working on this

[2022-04-08 03:45] s-desh commented on #212
Yes @jason-fries, I'm still working on this

[2022-04-08 04:30] Bharat123rox commented on #170
Yes I'm still working on this

[2022-04-08 04:36] vasudev-sharma commented on #71
Hi @hakunanatasha, yes I am still working on yet. I will create PR as soon as it is ready.

[2022-04-08 05:11] jason-fries commented on #33
Incredible. Looking forward to your PR @singhay !

[2022-04-08 06:39] whoisjones commented on #223
Hi @jason-fries, yes I Plan to do this one today / tomorrow. 👍

[2022-04-08 06:40] whoisjones commented on #214
Hi @jason-fries, this one is comming today.

[2022-04-08 07:41] #264 closed

[2022-04-08 08:03] cakiki commented on #258
Hi @jason-fries! I'm still working on all of my issues.

[2022-04-08 08:43] mapama247 commented on #138
Hi @hakunanatasha! Yes, I have not finished yet but I plan to do it before the deadline. I already had a script that could load the dataset from local conll files, but on the Discord channel I was told that it is preferable to have a data loader that directly downloads and converts the brat files from the official site... so I will need some extra time to change this :)

[2022-04-08 08:44] clancyoftheoverflow commented on #39
Hi @hakunanatasha. I am still working on it. I have marked it as in progress. I am to be done early next week.

[2022-04-08 08:44] clancyoftheoverflow commented on #36
Hi @hakunanatasha. I am still working on it. I have marked it as in progress. I am to be done early next week.

[2022-04-08 08:45] mapama247 commented on #72
Hi @hakunanatasha! Yes, I have not finished yet but I plan to do it before the deadline ends.

[2022-04-08 09:00] mapama247 commented on #64
yes @hakunanatasha !

[2022-04-08 10:37] #92 closed

[2022-04-08 11:12] tanmaylaud commented on #154
#self-assign

[2022-04-08 11:13] tanmaylaud commented on #157
#self-assign

[2022-04-08 11:14] tanmaylaud commented on #156
#self-assign

[2022-04-08 11:16] tanmaylaud commented on #56
#self-assign

[2022-04-08 11:18] sg-wbi commented on #242
Hi @alisoncallahan can you let us know if you are still working on this so we can update our project board? Please just notify us the status by Friday April 8. You can response to this comment or ping us on Slack or Discord.

No worries if you are not finished but still intend to work on this!

[2022-04-08 11:37] debajyotidatta commented on #154
Hi, @jason-fries : I will be done with it by Monday

[2022-04-08 11:56] #47 closed

[2022-04-08 12:44] #118 closed

[2022-04-08 13:11] #115 closed

[2022-04-08 14:11] nomisto opened #388 "Proposal to add BioMRC"
- **Name:** BioMRC
- **Description:** BioMRC: A Dataset for Biomedical Machine Reading Comprehension
- **Task:** cloze-style MRC / multiple choice QA
- **Paper:** https://arxiv.org/abs/2005.06376
- **Data:** https://archive.org/details/biomrc_dataset
- **License:** Unknown
- **Motivation:** Interesting large-scale dataset with 6 different subsets (size and setting). Large variant contains over 700

[2022-04-08 14:11] nomisto commented on #388
Huggingface dataset: https://huggingface.co/datasets/biomrc

[2022-04-08 14:11] nomisto commented on #388
#self-assign

[2022-04-08 14:14] #91 closed

[2022-04-08 14:17] #98 closed

[2022-04-08 14:28] mart1nro commented on #114
@hakunanatasha I'm still working in this.

[2022-04-08 14:57] mariagrandury commented on #66
Hi @hakunanatasha I was busy during the week but I plan on working on this, thank you checking in :)

[2022-04-08 14:58] mariagrandury commented on #65
Hi @hakunanatasha, I was busy during the week but I plan on working on this, thank you for checking in :)

[2022-04-08 14:58] mariagrandury commented on #139
Hi @hakunanatasha, I was busy during the week but I plan on working on this, thank you for checking in :)

[2022-04-08 15:36] tanmaylaud opened #391 "Create Dataloader for HealthQA"
## Adding a Dataset
- **Name:** *HealthQA*
- **Description:** *Healthcare question-answering dataset*
- **Task:** *QnA*
- **Paper:** *https://dl.acm.org/doi/abs/10.1145/3308558.3313699*
- **Data:** *asked the owner for dataset link*
- **License:** *to be checked*
- **Motivation:** *QA Dataset*

[2022-04-08 16:03] hakunanatasha commented on #27
awesome thank you 🌸

[2022-04-08 16:06] karthikrangasai commented on #137
Hello @leonweber ,

Sorry for the late reply.
Sure, I can try to add this and get it working. Will need some help here and there. Will take help through the discord server maybe.

Thank you providing these tips.

[2022-04-08 16:14] hakunanatasha commented on #25
Hi @SamuelCahyawijaya

For multiple splits, I see the default approach

(1) Create a source/bigbio for the combined splits (so 1 train/dev set, I think)

(2) Create source/bigbio for each split individually

Bioasq may be a useful example
https://github.com/bigscience-workshop/biomedical/blob/0e35df219519fea9b14c58d26b6e26c81415160f/examples/bioasq.py#L494

[2022-04-08 16:14] hakunanatasha commented on #25
Let me know if you need help : )

[2022-04-08 16:15] hakunanatasha commented on #25
Also - I noticed you have a PR open for this, would you mind updating with the splits? I'll change the reqs at some point too.

[2022-04-08 16:17] hakunanatasha commented on #24
great thank you! Genia has a unique licensing case - please report the license as:

Annotations created by the GENIA Project are licensed under the
Creative Commons Attribution 3.0 Unported License. To view a copy of
this license, visit http://creativecommons.org/licenses/by/3.0/ or
send a letter to Creative Commons, 444 Castro Street, Suite 900,
Mountain View, California, 94041, USA.

[2022-04-08 16:17] hakunanatasha commented on #23
Hi @sugatoray assuming you are in progress on this too since you responded to my other pings : ) thank you!

[2022-04-08 16:18] hakunanatasha commented on #22
Hi @sugatoray thank you!

[2022-04-08 16:19] hakunanatasha commented on #18
@sg-wbi I think @benjaminbeilharz may not get to work on this till April 11; if it does, let's remember to close the issue.

[2022-04-08 16:20] hakunanatasha commented on #117
@mcullan sounds awesome, ping me so i can have the fun of reviewing it! I'm excited to see your submission 🌸

[2022-04-08 16:20] hakunanatasha commented on #15
@benjaminbeilharz let me know on discord; thank you! please ping me if you need help.

[2022-04-08 16:20] vasudev-sharma commented on #46
Hi @hakunanatasha, yes I am still working on yet. I will create PR as soon as it is ready.

[2022-04-08 16:21] hakunanatasha commented on #66
@mariagrandury no worries at all, thank you so much for letting me know! I'm really looking forward to seeing your PR! Ping me anytime if I can help.

[2022-04-08 16:22] hakunanatasha commented on #65
@mariagrandury no problem - looking forward to seeing your PR!

[2022-04-08 16:22] hakunanatasha commented on #64
@mapama247 awesome, looking forward to that PR 🌸

[2022-04-08 16:23] hakunanatasha commented on #61
@MFreidank sounds wonderful! ping us anytime if you need help! Looking forward to your PR!

[2022-04-08 16:23] hakunanatasha commented on #59
Hi @napsternxg thank you for letting us know! Ping anytime if you need help and looking forward to that PR!

[2022-04-08 16:24] hakunanatasha commented on #55
@SamuelCahyawijaya awesome!

[2022-04-08 16:25] hakunanatasha commented on #50
@stephenbach yes of course - this is just for our logistics purposes. Thanks so much, we'll update the progress board. Looking forward to your pr!

[2022-04-08 16:25] hakunanatasha commented on #46
@vasudev-sharma awesome thank you! just ping us if you need help, and we are looking forward to that PR!

[2022-04-08 16:26] hakunanatasha commented on #45
thank you!

[2022-04-08 16:26] hakunanatasha commented on #42
@alisoncallahan wonderful thank you for letting me know! I'll assume the other datasets are also in-progress. Looking forward to your PRs!

[2022-04-08 16:27] hakunanatasha commented on #39
thank you!

[2022-04-08 16:29] hakunanatasha commented on #138
@mapama247 no worries, feel free to ping me if you need help with this change!

[2022-04-08 16:31] hakunanatasha commented on #114
thank you for letting us know!

[2022-04-08 16:31] hakunanatasha commented on #97
@mcullan done! I suppose it was taking a little break :P

[2022-04-08 16:33] hakunanatasha commented on #74
@giganttheo awesome, im really looking forward to your PR 🌸

[2022-04-08 16:34] hakunanatasha commented on #71
@vasudev-sharma awesome! Looking forward to your PR!

[2022-04-08 16:35] hakunanatasha commented on #69
@giganttheo lol, must have been a mistaken annotation on our part 😅

[2022-04-08 16:40] hakunanatasha commented on #154
@debajyotidatta @tanmaylaud can you confirm who is working on this I only see @tanmaylaud assigned.

[2022-04-08 16:41] SamuelCahyawijaya commented on #25
@hakunanatasha : I see, noted, let me add the 10-fold split then 👍🏻

[2022-04-08 16:58] jason-fries commented on #68
Hi @cakiki
I would include the test set. Looks like you'll just have to pull from both repositories in your URL downloads when defining splits. Let us know if encounter any problems!

[2022-04-08 17:27] SamuelCahyawijaya commented on #228
For this dataset, there are two train datasets from TREC-2017-LiveQA and Alexa, but both can be used for the shared task without any distinction. Currently, I created 2 train splits namely `train_live_qa` and `train_alexa`. Please let me know if you have a different opinion on the split.

Another idea is to simply combine both training data, and provide labels to distinguish the two data sources.

[2022-04-08 18:10] jdposada commented on #219
hi @jason-fries ,

I am still working on this. Actually working with someone else. How can I give him credit as well?

[2022-04-08 18:10] jdposada commented on #220
hi @jason-fries ,

I am still working on this. Actually working with someone else. How can I give him credit as well?

[2022-04-08 18:10] jdposada commented on #207
hi @jason-fries ,

I am still working on this. Actually working with someone else. How can I give him credit as well?

[2022-04-08 18:17] uzaymacar commented on #116
Hey @hakunanatasha, yes I am still working on this! I am planning to follow up with a PR by mid-next week.

[2022-04-08 18:18] uzaymacar commented on #60
Hey @hakunanatasha, yes I am still working on this! I am planning to follow up with a PR by mid-next week.

[2022-04-08 18:19] jason-fries commented on #207
Thanks for the update @jdposada
I would have the person working on the implementation add their GitHub user name to the relevant datasets.  Or is this some sort of pair programming setup you are talking about?

[2022-04-08 18:21] jason-fries commented on #70
I believe the data is also available at https://github.com/CBLUEbenchmark/CBLUE if this helps!
The dataset license (per the homepage above) is

[2022-04-08 18:58] cakiki commented on #234
Still working on this one @jason-fries :smiley:

[2022-04-08 19:02] jason-fries commented on #234
Awesome -- thanks @cakiki !

[2022-04-08 19:21] HallerPatrick commented on #48
Still working on it :)

[2022-04-08 19:22] HallerPatrick commented on #62
Still working on it :)

[2022-04-08 19:22] HallerPatrick commented on #209
Still working on it :)

[2022-04-08 19:22] jason-fries commented on #48
Thanks @HallerPatrick !

[2022-04-08 19:23] jason-fries commented on #209
Thanks!

[2022-04-08 19:23] jason-fries commented on #62
Thanks!

[2022-04-08 22:06] hakunanatasha commented on #56
Hi @tanmaylaud

Have a look at the following thread and let me know if it's useful: https://github.com/huggingface/datasets/issues/418
google drive links should be able to work. I think you have another dataset pending with the same blocker too; hopefully this helps.

@ruisi-su has also worked with Mash-QA before, so ping us for any assistance.

[2022-04-08 23:25] debajyotidatta commented on #154
@tanmaylaud Just noticing your comment! Feel free to do this. So glad you are part of this.

@hakunanatasha : if by any chance @tanmaylaud can't complete or doesn't get bandwidth I can do this later.

[2022-04-09 02:16] KranthiGV commented on #236
@jason-fries
I'm still working on it. I will hopefully have a PR out this weekend.
Sorry for the delay.

[2022-04-09 02:26] jason-fries commented on #236
@KranthiGV Thanks!!

[2022-04-09 02:50] trishalaneeraj commented on #161
Hi @jason-fries, I'm still working on this

[2022-04-09 02:51] trishalaneeraj commented on #162
Hi @jason-fries, I'm still working on this

[2022-04-09 02:51] trishalaneeraj commented on #163
Hi @jason-fries, I'm still working on this

[2022-04-09 03:03] trishalaneeraj commented on #155
Still working on this!

[2022-04-09 03:18] jason-fries commented on #155
Thanks!

[2022-04-09 06:03] benjaminbeilharz commented on #18
@hakunanatasha @sg-wbi is right. The dataset has been done under a different issue. Can be closed :)

[2022-04-09 06:59] tanmaylaud commented on #56
@ruisi-su where have you added the loading script you mentioned above? thanks for the help!

[2022-04-09 07:25] tanmaylaud commented on #157
this data requires access to nlm. I have requested for it but it will take time.

[2022-04-09 07:26] tanmaylaud commented on #156
this dataset requires access to nlm. I have requested for it but it will take time.

[2022-04-09 07:31] jason-fries commented on #156
Hi @tanmaylaud
Thanks for the update. If you don't have current access it might be best to free up this (and other) datasets and volunteer for some other open datasets. Let us know if we can help in anyway!

[2022-04-09 08:16] tanmaylaud commented on #154
@hakunanatasha @jason-fries the label in this dataset is raw float value (0-10). This does not fit in our bio pairs schema. Please advise.

[2022-04-09 08:43] tanmaylaud commented on #153
@debajyotidatta If you haven't started work on this, can I pick it up instead?

[2022-04-09 08:44] tanmaylaud commented on #156
@jason-fries I don't see any open issues that have publicly available datasets. Please feel free to tag me in anything that's doable.

[2022-04-09 11:58] jason-fries commented on #156
@tanmaylaud id check back on Sunday and see if any datasets have opened up again. Also, if you know of any great biomedical NLP datasets we missed, you can suggest and volunteer for that dataset :)

[2022-04-09 13:11] debajyotidatta commented on #153
@tanmaylaud : Hey, can you finish all the ones you have already signed up for? One you are done, ping back here! That was no dataset is being held up.

[2022-04-09 13:54] leondz commented on #64
I spent coincidentally built a loader for this last week - lmk if you're unable to complete :)

[2022-04-09 16:56] sidkiblawi commented on #235
Is @mdmanurung still working on this? I can take it if they don't have the bandwidth.

[2022-04-09 16:57] sidkiblawi commented on #218
Is @sushil-bharati still working on this? I can take it if they don't have the bandwidth.

[2022-04-09 18:49] tanmaylaud commented on #153
@debajyotidatta  the issue is that in the others that I have signed up, the data is not public so Jason asked me to check other ones.

[2022-04-09 20:15] #223 closed

[2022-04-09 20:47] #55 closed

[2022-04-09 20:54] #228 closed

[2022-04-09 21:06] #214 closed

[2022-04-09 21:09] nbroad1881 commented on #244
I'm not really sure how to process this one. Here is what is in corpus.zip: two folders called `class` and `txt`
Here are the contents of 7481741.txt in both `class` and `txt` respectively:

The results have shown that approximately 20% of the subjects had a weekly dietary mercury intake above the provisional tolerable weekly intake ( PTWI ) , primarily those consuming fish and other seafood > 6 t

[2022-04-09 21:17] hakunanatasha commented on #18
@benjaminbeilharz @sg-wbi closing issue as it's superceded by another dataset that combines the information.

[2022-04-09 21:17] #18 closed

[2022-04-09 21:19] hakunanatasha commented on #60
@uzaymacar awesome! Feel free to ping me here, via your PR, or on the discord for help! I'm looking forward to your submission :cherry_blossom:

[2022-04-09 21:23] hakunanatasha commented on #137
Hi @karthikrangasai no worries at all; feel free to ping us anytime by summoning the @admin command!

[2022-04-09 21:29] hakunanatasha commented on #207
@jdposada you can make a note in the PR that the script was co-authored by two people; however, the easiest would be to have 2 commit histories as @jason-fries mentioned from 2 users. We are open to whatever is easiest for you.

Looking forward to your submission :cherry_blossom:

[2022-04-09 21:29] hakunanatasha commented on #199
fixed with PR #205

[2022-04-09 21:29] #199 closed

[2022-04-09 21:30] hakunanatasha commented on #198
Deprecated with #204

[2022-04-09 21:30] #198 closed

[2022-04-09 21:31] hakunanatasha commented on #157
Hi @tanmaylaud sometimes data access issues may take a while; I'd recommend perhaps implementing a dataloader that has a public license (I think you have a few other datasets assigned).

[2022-04-09 21:32] hakunanatasha commented on #154
@tanmaylaud can you ping @debajyotidatta since he may have already implemented this.

[2022-04-09 21:36] hakunanatasha commented on #226
@nbroad1881 alas only admins can mark in progress : ) I'll mark that off for you though

[2022-04-09 21:36] hakunanatasha commented on #225
Merged with #322

[2022-04-09 21:36] #225 closed

[2022-04-09 21:38] hakunanatasha commented on #220
@jdposada as mentioned in a different issue with @jason-fries you can opt to either have both your names on the script as co-authors or ideally, your two commit histories tied to two separate GitHub accounts. We are fine with either option.

[2022-04-09 21:38] hakunanatasha commented on #219
@jdposada mentioned the details on the other issues!

[2022-04-09 21:41] hakunanatasha commented on #211
@sg-wbi @giyaseddin seems to be superceded by #117 closing the issue for now.

[2022-04-09 21:41] #211 closed

[2022-04-09 21:46] hakunanatasha commented on #257
@jason-fries @uzaymacar mentioned he is working on the other issues so I'm assuming this will also be part of the bundle :)

[2022-04-09 21:47] hakunanatasha commented on #249
@sugatoray @jason-fries any chance the link is up?

[2022-04-09 21:48] hakunanatasha commented on #248
@giganttheo let us know how this is going; if your bandwidth is busy, we can free this up as I believe you're working on a few datasets already!

[2022-04-09 21:48] hakunanatasha commented on #245
@mapama247 is working on a few other datasets that they mentioned to us; assuming he's working on this too.

[2022-04-09 21:49] hakunanatasha commented on #244
@nbroad1881 can you ping the discord?

[2022-04-09 21:49] hakunanatasha commented on #243
@nadahlberg let us know if we can help - this would be *amazing* ping us on discord or here.

[2022-04-09 21:50] hakunanatasha commented on #117
Closes with #118

[2022-04-09 22:01] #226 closed

[2022-04-09 22:11] hakunanatasha commented on #327
Closed with #393

[2022-04-09 22:11] #327 closed

[2022-04-09 23:47] sugatoray commented on #249
@hakunanatasha No. It is not working.

[2022-04-09 23:53] debajyotidatta commented on #154
@tanmaylaud : go for it! If you get stuck ping me.

[2022-04-10 00:02] hakunanatasha commented on #218
@sidkiblawi assigning you to this

[2022-04-10 00:08] sidkiblawi commented on #235
#self-assign

[2022-04-10 01:00] giyaseddin commented on #256
#self-assign

[2022-04-10 01:04] jason-fries commented on #249
@sugatoray @hakunanatasha
Looks all the files are captured here! And the dataset is GNU GENERAL PUBLIC LICENSE

https://web.archive.org/web/20141225030543/http://nlp.shef.ac.uk/BioWSD/downloads/corpora/index.html

[2022-04-10 01:58] tanmaylaud commented on #157
@hakunanatasha even the other WSD dataset requires similar access. I am looking for 3 datasets to satisfy the contribution criteria. Currently, I have only 2 that are publicly available. Thanks for your help!

[2022-04-10 01:59] tanmaylaud commented on #154
@debajyotidatta I have implemented most of the script except the label part. Are we supposed to apply a threshold on the float value to make it a string label ?

[2022-04-10 02:01] qanastek opened #400 "Proposal to add BioCreative VII Track 5 LitCovid dataset"
## Adding a Dataset
- **Name:** *BioCreative VII Track 5 - LitCovid track Multi-label topic classification for COVID-19 literature annotation*
- **Description:** *The training and development datasets contain the publicly-available text of over 30 thousand COVID-19-related articles and their metadata (e.g., title, abstract, journal). Articles in both datasets have been manually reviewed and articl

[2022-04-10 02:01] debajyotidatta commented on #154
Hi, for the source schema keep the original. For the bigbio schema apply thresholding.

[2022-04-10 03:20] gagan3012 commented on #70
#self-assign

[2022-04-10 04:06] galtay commented on #93
Yes, sorry! I'm interested in variant datasets in general, but have spent more time reviewing PRs than writing dataset loaders. I'm happy to free this up and then if no one takes it during the hackathon I can take a look.

[2022-04-10 05:09] SamuelCahyawijaya commented on #239
Hi @jason-fries, CMIIW, I checked the website for this task, but there is no download link to the dataset. Also, the dataset doesn't exist on the [openbicorpora](https://github.com/openbiocorpora). Should we consider skipping this dataset?

[BioNLP-ST 2013 page](https://2013.bionlp-st.org/tasks)
[GRN task page]https://2013.bionlp-st.org/tasks/gene-regulation-network-grn

[2022-04-10 05:16] jason-fries commented on #239
Thanks for he heads up. We'll note this dataset is no longer available.

[2022-04-10 05:32] debajyotidatta commented on #153
@tanmaylaud : So I had already implemented this (just pushed the PR) but are you actually out of datasets? Let me take a look at it! I am sure we will be able to find something for you.

[2022-04-10 08:01] luou-wen commented on #229
Hi @jason-fries sorry for the late response. I did not see this message until today. If possible, may I pick this back up? I was intending to finish the dataloader and make a pull request today.

[2022-04-10 11:34] shamikbose commented on #93
#self-assign

[2022-04-10 12:25] shamikbose commented on #93
@galtay @jason-fries I'd like to work on this dataset if nobody else is assigned to it

[2022-04-10 13:17] giganttheo commented on #248
Hi @hakunanatasha. I was focusing on other datasets first but I will take a look at this one in a few days 😀

[2022-04-10 13:38] balikasg commented on #261
@jason-fries I'd like to @self-assign
Before committing a question:
- BioASQ Task A articles, while they are released every year, each year's set is a superset of previous years. Do we need a loader for all years here or just 2022? [reference here](http://participants-area.bioasq.org/general_information/Task10a/). Also, the link for data in this description is wrong (we want the Task A data, you s

[2022-04-10 14:21] galtay commented on #154
made some comments on #406

[2022-04-10 16:22] hakunanatasha commented on #70
@gagan3012 let us know if you need help with this repo! We're available on discord or via chat here

[2022-04-10 16:22] hakunanatasha commented on #239
@jason-fries can we close this issue if so?

[2022-04-10 16:23] hakunanatasha commented on #229
Hi @luou-wen yes of course! I just re-assigned you.

[2022-04-10 16:24] hakunanatasha commented on #356
@FremyCompany I recognized you proposed this, will you consider implementing it?

[2022-04-10 16:24] hakunanatasha commented on #338
Hi @FremyCompany let us know if you'd still like to work on this - we're happy to confirm it.

[2022-04-10 16:25] hakunanatasha commented on #337
@FremyCompany I'm not sure if someone followed up, but feel free to propose a dataloader for this.

[2022-04-10 16:27] hakunanatasha commented on #261
@balikasg Apologies on the incorrect link; this must have cropped up during our large compilation phase. Do you have the link to the most recent version?

Additionally - I suspect yes; there are possibly earlier bodies of work that reference an older version of the dataset. For reproducibility sake, it's nice to have a dataloader that has explicitly what we want, without needing to subset the earl

[2022-04-10 17:40] qanastek commented on #230
PR https://github.com/bigscience-workshop/biomedical/pull/410

[2022-04-10 18:43] luou-wen commented on #229
@hakunanatasha Thank you very much! I will continue working on it and make a pull request asap.

[2022-04-10 22:43] galtay commented on #219
@jdposada feel free to pull from the work in the above PR ... we will make sure everyone involved gets credit.

[2022-04-10 23:40] gagan3012 commented on #70
Hello,
I am waiting to get access to the dataset

[2022-04-11 00:23] jason-fries commented on #70
Hi @gagan3012
Can you confirm that this is not the dataset?  https://github.com/CBLUEbenchmark/CBLUE ?

[2022-04-11 00:52] gagan3012 commented on #70
The dataset is not available at the GitHub we need to download it from https://tianchi.aliyun.com/dataset/dataDetail?dataId=95414

[2022-04-11 08:05] sg-wbi commented on #117
I am reopening this because #118 handles only a part of the dataset although it is shipped with the same zip file.

[2022-04-11 08:15] #149 closed

[2022-04-11 08:52] #150 closed

[2022-04-11 09:25] #145 closed

[2022-04-11 09:29] #146 closed

[2022-04-11 10:16] #148 closed

[2022-04-11 10:20] barthfab commented on #238
@jason-fries I'm not sure if the Dataset exists anymore.

[2022-04-11 10:20] #171 closed

[2022-04-11 10:27] abhinavkashyap commented on #120
#self-assign

[2022-04-11 11:16] #172 closed

[2022-04-11 11:59] barthfab commented on #255
#self-assign

[2022-04-11 11:59] barthfab commented on #254
#self-assign

[2022-04-11 12:25] nomisto opened #415 "Proposal to add MeQSum"
## Adding a Dataset
- **Name:** MeQSum
- **Description:** Question understanding is one of the main challenges in question answering. In real world applications, users often submit natural language questions that are longer than needed and include peripheral information that increases the complexity of the question, leading to substantially more false positives in answer retrieval. In this paper,

[2022-04-11 12:26] nomisto commented on #216
#self-assign

[2022-04-11 12:45] mapama247 commented on #245
hi! sorry for the delay, I missed this message. A colleague of mine (who actually works in the group that created the MEDDOCAN dataset) is willing to do this data loading script, so if that's okay I'll leave this PR for @tonifuc3m

[2022-04-11 14:16] qanastek opened #419 "Proposal to add the CAS dataset"
## Adding a Dataset
- **Name:** *CAS: French Corpus with Clinical Cases*
- **Description:** *The CAS corpus is build on clinical cases, such as they are reported in the published scientific literature in French. The corpus contain over 397,000 word occurrences, and the existing linguistic and semantic annotations.*
- **Task:** *POS-Tagging & Lemmatization*
- **Paper:** *https://aclanthology.org/W1

[2022-04-11 15:00] #206 closed

[2022-04-11 15:35] harmbuisman opened #420 "Requirements.txt contains a typo for openpyxl"
## Describe the bug
openpxyl>=3.0.9 in requirements should be openpyxl>=3.0.9

## Steps to reproduce the bug
Follow installation guide from CONTRIBUTING.md
[code]
or

[code]

## Expected results
Installation without issues

## Actual results
Specify the actual results or traceback.
Pip subprocess error:
ERROR: Could not find a version that satisfies the requirement openpxyl>=3.0.9 (from versions:

[2022-04-11 15:48] WojciechKusa commented on #54
Implemented in https://github.com/bigscience-workshop/biomedical/pull/416

[2022-04-11 16:19] #114 closed

[2022-04-11 16:28] MFreidank commented on #252
#self-assign

[2022-04-11 16:29] MFreidank commented on #252
@jason-fries Can I take this on? Must be implemented as a local dataset, from what I can see (data is available via form), but otherwise seems relatively straightforward. Will ping in case I have any questions.

[2022-04-11 21:34] napsternxg commented on #113
I have started working on this dataset. I will send a PR soon.

[2022-04-11 23:26] #415 closed

[2022-04-11 23:52] nbroad1881 commented on #208
#self-assign

[2022-04-12 07:41] #48 closed

[2022-04-12 08:02] nomisto opened #427 "Proposal to add MEDIQA-AnS"
## Adding a Dataset
- **Name:** MEDIQA-AnS
- **Description:** A dataset of manually generated, question-driven summaries of multi and single document answers to consumer health questions.
- **Task:** Summarization
- **Paper:** https://www.nature.com/articles/s41597-020-00667-z
- **Data:** https://osf.io/hkj3w/
- **License:** CC0
- **Motivation:** Cool dataset of manually curated summaries of consu

[2022-04-12 08:57] qanastek commented on #74
## Adding a Dataset
- **Name:** *Quaero French Medical Corpus*
- **Description:** *In this paper, we report on the development of an extensive corpus of biomedical documents in French annotated at the entity and concept level. Three text genres are covered, comprising a total of 103,056 words. Ten entity categories corresponding to UMLS Semantic Groups were annotated, using automatic pre-annotatio

[2022-04-12 09:26] nomisto commented on #156
#self-assign

[2022-04-12 09:53] sg-wbi opened #429 "Create dataset loader for BioRED"
## Adding a Dataset
- **Name:** *BioRED*
- **Description:** * RE corpus with multiple entity types (e.g., gene/protein, disease, chemical) and relation pairs (e.g., gene-disease; chemical-chemical), on a set of 600 PubMed articles*
- **Task:** *NER, RE*
- **Paper:** *[link to the dataset paper](https://arxiv.org/abs/2204.04263)*
- **Data:** *[link to the Github repository or current dataset locati

[2022-04-12 09:58] sg-wbi opened #430 "Create dataset loader for BioCreativeIII (Gene Normalization)"
## Adding a Dataset
- **Name:** *BCIII Gene Normalization*
- **Description:** *multi-species gene normalization*
- **Task:** *Text classification*
- **Paper:** *[link to the dataset paper](https://biocreative.bioinformatics.udel.edu/tasks/biocreative-iii/gn/)*
- **Data:** *[link to the Github repository or current dataset location](https://biocreative.bioinformatics.udel.edu/tasks/biocreative-iii/

[2022-04-12 09:59] sg-wbi commented on #430
Could require login:
- [train](https://biocreative.bioinformatics.udel.edu/media/store/files/2010/BC3GNTraining_.zip)
- [test](https://biocreative.bioinformatics.udel.edu/media/store/files/2010/BC3GNTest.zip)

[2022-04-12 12:46] MFreidank commented on #261
#self-assign

[2022-04-12 13:05] MFreidank commented on #261
@jason-fries @hakunanatasha @galtay I noticed that a dataset `bioasq.py` already exists (implemented by @galtay), but only seems to  implement task B.
Should I implement task A into this same module, or as a separate one (e.g. named `biodatasets/bioasq_task_A`)?

[2022-04-12 13:54] giganttheo commented on #419
#self-assign

This dataset is available with the same format as the ESSAI dataset (cf ISSUE #69  ) for which I already proposed a loading script

[2022-04-12 15:12] napsternxg commented on #113
Hi @hakunanatasha and @leonweber I have a few questions on how to parse the data. Code related to my questions is in: https://colab.research.google.com/drive/1Ne8A76yn0vxwKkpU7l_OzGI968B-YieJ?usp=sharing

- The data is in modified HTML format. I am able to parse is via beautiful soup library but that library is not part of our requirements file. What would be the best way to proceed? E.g. if if tr

[2022-04-12 20:21] nomisto commented on #157
#self-assign

[2022-04-12 20:22] nomisto commented on #157
@hakunanatasha Tagged you as discussed on discord :)

[2022-04-12 20:27] nomisto commented on #156
@hakunanatasha That's the second one. I realized i've included instructions as a comment block. Should I put it into the docstring of the script?

[2022-04-12 21:44] giganttheo commented on #248
The linked data is lacking the corpus information. It contains all the annotations but not the corpus that is annotated.

I have found this repo that contains some of this dataset ( https://github.com/EsmaeilNourani/Deep-GDAE/tree/master/data ) but not all of it it seems (355 sentences). So I have worked with that for now and will be able to suggest a loading script with this.
But I struggle to fi

[2022-04-13 07:58] #138 closed

[2022-04-13 08:02] tmabraham opened #438 "Proposal to add MedNLI dataset"
## Adding a Dataset
- **Name:** MedNLI - A Natural Language Inference Dataset For The Clinical Domain
- **Description:** A dataset annotated by doctors, performing a natural language inference task), grounded in the medical history of patients.
- **Task:** Natural Language Inference
- **Paper:** https://arxiv.org/abs/1808.06752
- **Data:** https://physionet.org/content/mednli/1.0.0/
- **License:**

[2022-04-13 08:10] #74 closed

[2022-04-13 08:39] qanastek commented on #230
#self-assign

[2022-04-13 09:06] qanastek commented on #230
I have not enough time to achieve this corpus. So, you can start from my [last commit](https://github.com/bigscience-workshop/biomedical/pull/410/commits).

Currently, all the sentences of the corpus has been loaded and all the test passed. But the sentence need to be filtered to keep only the correct spans in the answers.

For more details, take a look at : https://bionlp.nlm.nih.gov/epic_qa/#col

[2022-04-13 11:01] barthfab commented on #254
I would like to unblock this issue.

[2022-04-13 11:17] nomisto opened #441 "Proposal to add BioRelEx"
- **Name:** BioRelEx
- **Description:** BioRelEx is a biological relation extraction dataset.
- **Task:** NER, NED, CoREF, RE
- **Paper:** https://aclanthology.org/W19-5019/
- **Data:** https://github.com/YerevaNN/BioRelEx
- **License:** ?
- **Motivation:** Cool dataset supporting 4 different tasks

[2022-04-13 11:17] nomisto commented on #441
#self-assign

[2022-04-13 15:06] nbroad1881 commented on #244
@leonweber
I don't plan on implementing this. I was just exploring it

[2022-04-13 15:32] leonweber commented on #244
Oh sorry, my bad!

[2022-04-13 19:27] alisoncallahan opened #449 "AttributeError: 'tuple' object has no attribute 'items' - DatasetInfo"
I'm trying to test a data loader using

from datasets import load_dataset
data = load_dataset("biodatasets/<dataset_name>/<dataset_name>.py", name="<dataset_name>_bigbio_<schema>")

And getting the error AttributeError: 'tuple' object has no attribute 'items'  pointing to

return datasets.DatasetInfo(
            description=_DESCRIPTION,
            features=features,
            homepage=_HOMEPA

[2022-04-13 19:33] tmabraham commented on #438
@hakunanatasha Until I get PhysioNet access, I will leave this in the public pool for someone else with access to claim...

[2022-04-13 20:03] jason-fries commented on #400
@qanastek Are you volunteering for this dataset?

[2022-04-13 20:28] qanastek commented on #400
#self-assign

[2022-04-13 20:29] qanastek commented on #400
Yes, I am. I already work on it.

[2022-04-13 20:42] jason-fries commented on #400
Amazing -- thank you @qanastek !

[2022-04-13 21:00] alisoncallahan commented on #449
PR with current version of code is here: https://github.com/bigscience-workshop/biomedical/pull/450

[2022-04-13 21:30] #449 closed

[2022-04-13 22:37] qanastek commented on #400
Done! PR https://github.com/bigscience-workshop/biomedical/pull/452

[2022-04-13 23:48] galtay commented on #449
the `name` argument in `load_dataset` should be the name of one of the configs for the dataset ... typically config names are something like `<dataset_name>_bigbio_<schema>`

[2022-04-13 23:50] galtay commented on #400
@qanastek  nice work, I'll review soon!

[2022-04-13 23:52] #49 closed

[2022-04-13 23:56] #222 closed

[2022-04-13 23:59] #154 closed

[2022-04-14 00:06] #153 closed

[2022-04-14 00:15] alisoncallahan commented on #449
@galtay thanks, I should have included the actual call I was making as an example. thanks to @jason-fries  we fixed the issue (a sneaky trailing comma) and it now works. issue was closed about 3 hours ago.

[2022-04-14 03:08] #218 closed

[2022-04-14 04:02] #217 closed

[2022-04-14 04:25] #31 closed

[2022-04-14 08:04] #117 closed

[2022-04-14 08:08] #97 closed

[2022-04-14 09:40] #72 closed

[2022-04-14 10:15] HallerPatrick commented on #62
I would like to discuss how and what data of the dataset are incorporated into the data loader/schema. Here a general overview:

The dataset contains a non standard standoff file that contains annotations for every abstract:

[code]

Here the format specification:

[code]
The first columns contains the abstract ids. In a separate folder are all abstracts in form `10089511.txt`, which we can easily

[2022-04-14 10:37] sg-wbi opened #458 "Create dataset loader for BioCreativeI"
## Adding a Dataset
- **Name:** *BioCreativeI*
- **Description:** *two main tasks, the [first task](https://biocreative.bioinformatics.udel.edu/tasks/biocreative-i/first-task/) was concerned with the identification of gene mentions in text and linking protein database entries to abstracts. The [second task](https://biocreative.bioinformatics.udel.edu/tasks/biocreative-i/second-task/) was related t

[2022-04-14 10:38] sg-wbi commented on #458
- task1a may overlap with #212  with is addressed by #439

[2022-04-14 10:48] abhinavkashyap commented on #50
Hi! Is this still worked upon?

[2022-04-14 15:10] rosalinesway commented on #70
@gagan3012 Have you tried the `Apply for Dataset` button in the title section of the url? The only prerequisite to apply is probably register an account. Let me know if you run into problems in the process. Below are the details provided in the download link:

[2022-04-14 15:14] tanmaylaud commented on #56
@ruisi-su Could you please let me know about this?

[2022-04-14 15:59] abhinavkashyap commented on #15
Is it still being worked upon?? Else I would like to work on this

[2022-04-14 16:20] #246 closed

[2022-04-14 16:53] tanmaylaud commented on #56
Hey,
thanks but my doubt was about the data schema. The format is slightly different from standard SQUAD format which is a bit confusing. I thought you had worked on the dataset?

[2022-04-14 17:13] ruisi-su commented on #56
@tanmaylaud I worked on this dataset in previous alpha runs (before the BigBio schema was finalized), which is why the loading script is not publicly available. When you said the format is slightly different from standard SQUAD, could you be more specific? Are you referring to the [BigBio schema for qa](https://github.com/bigscience-workshop/biomedical/blob/master/utils/schemas/qa.py)?

[2022-04-14 18:12] benjaminbeilharz commented on #15
@abhinavkashyap please go ahead!

[2022-04-14 21:30] stephenbach commented on #50
PR work in progress: https://github.com/bigscience-workshop/biomedical/pull/463

[2022-04-15 00:26] #38 closed

[2022-04-15 02:37] jdposada commented on #207
Hi Guys,

I realized, too late this is a duplicate of

https://github.com/bigscience-workshop/biomedical/issues/208

The issue was closed and the code commited and accepted. Nothing more to do.

[2022-04-15 05:07] abhinavkashyap commented on #15
@benjaminbeilharz Thanks.. Will send a PR soon :)

[2022-04-15 10:21] debajyotidatta commented on #162
Hi @trishalaneeraj : This looks great! But in the source schema do you mind changing the values that are string to feature type float? It would be nice to have the float as the original source schema since that was intended.

[2022-04-15 14:39] JohnGiorgi commented on #438
I have already wrote 3 dataloaders but I have access to physionet and this dataset looks rather straightforward! I could write this if no one is currently working on it?

[2022-04-15 15:36] JohnGiorgi commented on #40
This looks nearly identical to MedNLI, which I just wrote a dataloader for. I could quickly write one for this dataset as well if no one is on it?

[2022-04-16 13:58] debajyotidatta commented on #250
the data can't be accessed.
![Screen Shot 2022-04-16 at 9 56 44 AM](https://user-images.githubusercontent.com/680145/163677696-165e06ac-8c77-4269-802f-e789eb320513.png)

[2022-04-16 13:58] #250 closed

[2022-04-16 14:21] nadahlberg commented on #243
@jason-fries @hakunanatasha

Hi y'all, sorry for the delay on this.  Unfortunately the crawler definitely won't be general purpose at all.  There are some pretty tremendous quirks with this site that make it very clunky to crawl.  (most notably: comments lazy load, requiring scrolling down the page, but scrolling to the bottom lazy loads a redirect to a new post -- so we have to find the Goldilock

[2022-04-16 17:38] #219 closed

[2022-04-16 20:17] #157 closed

[2022-04-17 05:10] abhinavkashyap commented on #120
Hi any update on merging these? I saw in discord that you mentioned that this dataset is open still

[2022-04-17 10:45] shamikbose commented on #254
#self-assign

[2022-04-17 17:34] #33 closed

[2022-04-17 20:08] #93 closed

[2022-04-17 20:26] #207 closed

[2022-04-17 20:40] #51 closed

[2022-04-17 21:49] #161 closed

[2022-04-17 21:50] #162 closed

[2022-04-17 21:51] #155 closed

[2022-04-17 22:43] shamikbose commented on #254
According to the github linked in the paper, this is the description for the dataset. Is this sufficient information?

[2022-04-18 17:35] tanmaylaud commented on #56
No, I am referring to the MASHQA dataset itself. The overall structure is confusing> I reached out to the author but didn't get a response.

[2022-04-18 22:08] shamikbose commented on #254
@jason-fries There is already a CRAFT dataloader in #60 . Wondering if this is different in any way

[2022-04-18 22:15] shamikbose commented on #258
#self-assign

[2022-04-19 13:11] #212 closed

[2022-04-19 14:12] #209 closed

[2022-04-19 14:31] CallumMcMahon commented on #15
The license attached to the download files is as follows
[code]

Is there a reason it's marked as CC BY NC 3.0 instead of CC BY 3.0?

[2022-04-19 14:39] #52 closed

[2022-04-19 16:00] #441 closed

[2022-04-19 17:43] #62 closed

[2022-04-19 19:47] jason-fries commented on #39
@clancyoftheoverflow We're wrapping up the last commits this week so if you have any made any progress here please push a PR ASAP. Let us know how we can help!

[2022-04-19 19:48] jason-fries commented on #249
Hi @sugatoray
We're wrapping up the last commits for the hackathon this week so if you have any made any progress here please push a PR ASAP. Let us know how we can help!

[2022-04-19 19:49] jason-fries commented on #227
Hi @singhay
Just checking on on this dataset. We're wrapping up the last commits for the hackathon this week so if you have any made any progress here please push a PR ASAP. Let us know how we can help!

[2022-04-19 19:50] jason-fries commented on #355
Hi @NtaylorOX
We're wrapping up the last commits for the hackathon this week so if you have any made any progress here please push a PR ASAP. Let us know how we can help!

[2022-04-19 19:51] jason-fries commented on #248
Thanks @giganttheo for flagging the error. We've made a note of this for our cleaning pass.

[2022-04-19 19:53] jason-fries commented on #258
Hi @shamikbose
Thanks for volunteering for this dataset! Let us know if we can help in anyway :)

[2022-04-19 20:08] jason-fries commented on #245
Hi @mapama247 and @tonifuc3m
Just checking in on the status of this dataset. Are you still planning on implementing it? If so, let us know how we can help!

[2022-04-19 20:21] jason-fries commented on #243
@nadahlberg  Thanks for the incredible deep dive here. Sorry this dataset turned out to be so frustrating!
Our goal for this version of the hackathon was to avoid "fixing" or otherwise cleaning datasets since one of the goals of this effort is to audit the state of biomedical data targeted for use in machine learning.

Since the original dataset has some pretty serious errors, let's just flag this

[2022-04-19 20:21] #243 closed

[2022-04-19 20:39] jason-fries commented on #15
@CallumMcMahon Nice catch! It's probable that we copied over some other GENIA licence with different terms. In this next phase of the hackathon, we're discussing how to better track provenance of licensing files to prevent confusion and errors.

[2022-04-19 20:40] jason-fries commented on #15
@abhinavkashyap
Checking to see if you are still working on this dataset. If so, please push a PR as soon as possible. Let us know how we can help!

[2022-04-19 20:41] jason-fries commented on #22
@sugatoray
Checking to see if you are still working on this dataset. If so, please push a PR as soon as possible. Let us know how we can help!

[2022-04-19 20:45] jason-fries commented on #32
Looks like this dataset was completed and merged from #425
Closing.

[2022-04-19 20:45] #32 closed

[2022-04-19 20:49] jason-fries commented on #36
Hi @clancyoftheoverflow
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 21:25] jason-fries commented on #119
Hi @napsternxg
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 21:26] jason-fries commented on #116
Hi @uzaymacar
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 21:53] jason-fries commented on #113
Hi @napsternxg
Sorry about the delay in responding!
- Let's remove the CVS dependency. The original gold data is open ("This work is distributed under the Creative Commons license: http://creativecommons.org/licenses/by/3.0/") so I would download the files and put them somewhere open (e.g., google drive link) and then we can eventually host the files on the biomedical community hub (see our [BIOSS

[2022-04-19 21:55] jason-fries commented on #94
Hi @GullyBurns
Just a ping on this dataset :) Let us know if we can help with any implementation details. Thanks!

[2022-04-19 21:56] jason-fries commented on #73
This is being worked on for PR https://github.com/bigscience-workshop/biomedical/pull/462

[2022-04-19 21:57] jason-fries commented on #71
Hi @vasudev-sharma
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 21:58] jason-fries commented on #70
Hi @gagan3012
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:00] jason-fries commented on #67
Hi @napsternxg
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:00] jason-fries commented on #66
Hi @mariagrandury
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:00] jason-fries commented on #65
Hi @mariagrandury
Same question with this dataset :)  Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:05] jason-fries commented on #64
Hi @mapama247
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Otherwise if we don't hear back soon, @leondz you are welcome to submit your version. Thanks!!

[2022-04-19 22:16] jason-fries commented on #59
Hi @napsternxg
Ping on this dataset too

[2022-04-19 22:18] jason-fries commented on #46
Hi @vasudev-sharma
Just a ping on the status of this dataset too. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:18] jason-fries commented on #45
Same as the other pings @clancyoftheoverflow  :)

[2022-04-19 22:22] jason-fries commented on #236
Hi @KranthiGV
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:22] jason-fries commented on #229
Hi @luou-wen,
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:24] jason-fries commented on #175
Hi @WojciechKusa
Did you still want to implement this dataset or can we add it back to the pool of available datasets?

[2022-04-19 22:25] jason-fries commented on #170
Hi @Bharat123rox ,
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:30] jason-fries commented on #163
Hi @trishalaneeraj
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:30] jason-fries commented on #139
Ping on this dataset too @mariagrandury

[2022-04-19 22:31] luou-wen commented on #229
Hi @jason-fries,
Apologies for the delay. I am still working on it, and I will submit a PR by this Sunday at the latest.

[2022-04-19 22:31] jason-fries commented on #120
Hi @abhinavkashyap
We're working on the backlog now ! Thanks for checking in, we'll followup shortly

[2022-04-19 22:40] jason-fries commented on #419
Hi @giganttheo
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:40] jason-fries commented on #371
Hi @giyaseddin
Just a ping on the status of this dataset. Please let us know if you are still working on it and when you plan to submit a PR. Thanks!!

[2022-04-19 22:42] jason-fries commented on #261
Hi @MFreidank
Sorry for the delay in responding! We should rename `bioasq.py` to `bioasq_task_b` and use the full names for all the bioasq tasks. I would go with `bioasq_task_a` for this task.

[2022-04-19 22:44] jason-fries commented on #256
Hi @giyaseddin Ping on this dataset too

[2022-04-19 22:47] jason-fries commented on #254
Hi @shamikbose,
You could double check to see if the #60 dataloader is the same format as this dataset. Otherwise, if it is a separate dataset or subset with potentially additional information, we should implement its own dataloader.

[2022-04-19 22:49] #247 closed

[2022-04-20 00:08] shamikbose commented on #254
#60 is a much wider dataset containing all version of CRAFT. 3.1.3 is an update for some missing or malformed information in 3.1.2 as mentioned in this comment https://github.com/UCDenver-ccp/craft-shared-tasks/issues/1#issuecomment-508314708

[2022-04-20 00:14] galtay commented on #230
whoever picks this up, check #410 for a good starting point

[2022-04-20 00:15] shamikbose commented on #258
Hi @jason-fries ! This is a very large dataset with a number of subsets for different tasks. I have a couple of questions:
1. Since the dataset is very large (~1.5GB), should there be a disclaimer? Not sure what's done in the case of datasets like that
2. This has a number of subsets for different tasks (Similarity measures, patient-article retrieval). Should they be different loaders where each d

[2022-04-20 03:35] sugatoray commented on #22
@jason-fries Thank you. I got caught up in something that delayed my progress on the PRs. Next couple of days will work and ensure these are done lates by Sunday. Could you please extend the deadline to include the PRs until Sunday?

I will also post my questions about respective datasets in their issues, for clarity and quickly finishing them.

Thank you again for offering to help out.

[2022-04-20 04:40] GullyBurns commented on #94
I'm sorry for the delay. I'm working on it now.

G

[2022-04-20 05:15] singhay commented on #221
#self-assign

[2022-04-20 05:49] singhay commented on #227
I'm unassigning myself so as to leave room for others to contribute. Will pick it back up later next week if it still stays unclaimed 🙂

[2022-04-20 05:49] singhay commented on #41
I'm unassigning myself so as to leave room for others to contribute. Will pick it back up later next week if it still stays unclaimed 🙂

[2022-04-20 07:33] WojciechKusa commented on #175
Yes, I am still working on it. I will be ready for Thursday.

[2022-04-20 07:53] giyaseddin commented on #371
Thanks for the reminder @jason-fries,
I'm afraid I'm not able to continue this week. But I'd like to open a PR. In the near future if it remains free.

[2022-04-20 07:54] giyaseddin commented on #256
Thanks for the reminder @jason-fries,
I'm afraid I'm not able to continue this week. But I'd like to open a PR. In the near future if it remains free.

[2022-04-20 08:05] NtaylorOX commented on #355
Hi @jason-fries .

I have to admit, I misunderstood the process of submitting a dataset and was awaiting a more explicit confirmation or acceptance of this dataset as viable for the hackathon. So unfortunately I have not made any progress at all.  Commiting to completing this by end of the week would likely be difficult, so it may be best to close this dataset? What is the strict deadline?

[2022-04-20 09:11] giganttheo commented on #419
Hi @jason-fries I already submitted a PR for this one @ #433 , I think it should work, it's mostly the same code as the one that was already merged for a related task (#423 )

[2022-04-20 11:09] abhinavkashyap commented on #15
Hi! I just checked and found this on Huggingface datasets https://huggingface.co/datasets/jnlpba
Do you want me to continue to work on this?

[2022-04-20 11:59] mapama247 commented on #64
hi @jason-fries
Actually I did a PR one week ago (https://github.com/bigscience-workshop/biomedical/pull/453) that got some review comments yesterday.  I have just started replying the reviewer but @leondz feel free to check if something looks odd to you.

[2022-04-21 00:15] #137 closed

[2022-04-21 01:05] #40 closed

[2022-04-21 01:14] tanmaylaud commented on #68
#self-assign

[2022-04-21 01:15] tanmaylaud commented on #29
#self-assign

[2022-04-21 01:18] tanmaylaud commented on #210
#self-assign

[2022-04-21 01:46] #438 closed

[2022-04-21 05:44] GullyBurns commented on #94
Hi Admins! (@jason-fries @leonweber @galtay @debajyotidatta @sunnnymskang @sg-wbi)

I've implemented a solution for this dataset but the dataset as is does not contain the text for annotations, just the annotations themselves. Consequently, the mapped schema contains entities but no passages.

In its current form, the test scripts pass complains in the following way for all entries:

I could attem

[2022-04-21 05:56] GullyBurns opened #496 "Proposal to add Chan Zuckerberg Initiative Disease Research State Model dataset"
## Adding a Dataset
- **Name:** *Disease Research State Model (DRSM) Corpus*
- **Description:** *Corpus of primary research articles studying rare disease tagged with single tags denoting main purpose of the paper. Task is multiclass labeling of research papers describing (A) clinical characterization + pathology; (B) therapeutics in the clinic; (C) disease mechanism; (D) patient based therapeutic

[2022-04-21 09:15] sg-wbi commented on #94
Hey @GullyBurns thank you for your contribution! Could you please open a "Pull request" with your script? This way we can have a look at your implementation.

This is something that can happen unfortunately. We are still discussing how to handle datasets that are de facto incomplete and we should also be able to soon to bypass some of the tests as a  workaround. As of now we will knowingly allow s

[2022-04-21 09:21] #156 closed

[2022-04-21 09:46] karthikrangasai commented on #230
#self-assign

[2022-04-21 11:34] napsternxg commented on #119
Hi @jason-fries thanks for the reminder. I plan to submit it early next week.

[2022-04-21 11:36] napsternxg commented on #113
Hi @jason-fries thanks for the response.
I will download and upload the files somehere.
I will try to use the XML parser in python if it doesn't add beautifulsoup.

I plan to submit it early next week.

[2022-04-21 11:37] napsternxg commented on #59
Hi @jason-fries thanks for the reminder. I have started work on this in my local branch.
Will send a PR early next week.

[2022-04-21 11:37] napsternxg commented on #67
Hi @jason-fries thanks for the reminder. I have started work on this in my local branch.
Will send a PR early next week.

[2022-04-21 13:54] sunnnymskang commented on #419
@jason-fries I'm looking into this rn
@giganttheo sorry for the delay!

[2022-04-21 14:27] #37 closed

[2022-04-21 14:41] ruisi-su commented on #56
@tanmaylaud I am a bit confused on this. The MASHQA dataset seems to follow the SQUAD format (consistent dictionary structures of `paragraphs`, `qas`, `answers`, `questions`, and `context`. I followed the [data loader](https://github.com/huggingface/datasets/blob/master/datasets/squad/squad.py) for the SQUAD dataset when I worked on this earlier and did not run into any issues. Could you be more s

[2022-04-21 15:14] albertvillanova commented on #29
I think this is a duplicate of:
- #218

CC: @hakunanatasha

[2022-04-22 03:49] #221 closed

[2022-04-22 03:54] KranthiGV commented on #236
@jason-fries
Sorry for not being able to devote time and thus blocking progress. I'm unassigning the task so that someone else can pick it up.

[2022-04-22 04:17] sugatoray commented on #23
@hakunanatasha I am afraid I may not be able to finish this in time. So, I am assigning myself.

[2022-04-22 04:21] sugatoray commented on #249
@jason-fries I am unassigning myself. I will not be able to finish this by the deadline.

[2022-04-22 04:25] sugatoray commented on #22
I am afraid I will not be able to finish this in time. Unassigned myself.

[2022-04-22 04:29] sugatoray commented on #27
@hakunanatasha Unassigned myself. I am afraid that I will not be able to finish this one in time. I sincerely regret any inconvenience caused.

[2022-04-22 08:03] sg-wbi opened #501 "Create dataset loader for BEAR"
## Adding a Dataset
- **Name:** *BEAR*
- **Description:** *A Corpus of Biomedical Entities and Relations on Twitter*
- **Task:** *NER, RE*
- **Paper:** *[link to the dataset paper](https://arxiv.org/abs/2204.09952)*
- **Data:** *[link to the Github repository or current dataset location](https://www.ims.uni-stuttgart.de/en/research/resources/corpora/bioclaim/)*
- **License:** *CC BY-SA license: ht

[2022-04-22 08:24] #245 closed

[2022-04-22 09:06] #94 closed

[2022-04-22 10:46] karthikrangasai commented on #501
#self-assign

[2022-04-22 10:57] nomisto opened #502 "Proposal to add HeadQA"
## Adding a Dataset
- **Name:** HEAD-QA
- **Description:** HEAD-QA: A Healthcare Dataset for Complex Reasoning
- **Task:** QnA, (Translation not native)
- **Paper:** https://aclanthology.org/P19-1092/
- **Data:** https://github.com/aghie/head-qa
- **License:** MIT
- **Motivation:** Very good QA dataset

HF: **https://huggingface.co/datasets/head_qa**

[2022-04-22 10:57] nomisto commented on #502
#self-assign

[2022-04-22 12:37] qanastek opened #504 "Proposal to add DisTEMIST"
## Adding a Dataset
- **Name:** *DISTEMIST: DISease TExt Mining Shared Task*
- **Description:** *The DisTEMIST corpus is a collection of 1000 clinical cases with disease annotations linked with Snomed-CT concepts. All documents are released in the context of the BioASQ DisTEMIST track for CLEF 2022.*
- **Task:** *Normalization ; NER ; Entity Grounding ; Entity Linking*
- **Paper:** *https://temu.b

[2022-04-22 14:15] nomisto opened #505 "Proposal to add MedQA"
## Adding a Dataset
- **Name:** MedQA
- **Description:** "In this work, we present the first free-form multiple-choice OpenQA dataset for solving medical problems, MedQA,
collected from the professional medical board exams. It covers three languages: English, simplified Chinese, and
traditional Chinese, and contains 12,723, 34,251, and 14,123 questions for the three languages, respectively. Togeth

[2022-04-22 16:52] GullyBurns commented on #400
@qanastek Question - is this data different from that put out by NCBI at https://ftp.ncbi.nlm.nih.gov/pub/lu/LitCovid/topic_tagger/ ?

[2022-04-22 18:05] qanastek commented on #400
Good question! I checked and none of the `pmid` present in both corpus are shared.

So, It's look like to be more data released aside of the BioCreative event.

The labels are identical :

[code]

We can create another subset in the corpus or completely create a new dataset loader.

[2022-04-22 18:08] qanastek commented on #400
Good question! I checked and none of the `pmid` present in both corpus are shared.

So, It's look like to be more data released aside of the BioCreative event.

The labels are identical :

[code]

We can create another subset in the corpus or completely create a new dataset loader.

[2022-04-22 18:18] clancyoftheoverflow commented on #39
Hi @jason-fries . I am very sorry for the late reply. I had an unexpected amount of work this week. I am planning to complete this and the other two datasets during the weekend. I will let you know if I have any issues.

[2022-04-22 19:45] #61 closed

[2022-04-23 13:05] qanastek commented on #504
_The DISTEMIST organizers will release multilingual resources to foster the development of multilingual tools and generate systems not only for Spanish but also for content in English and Romance languages (French, Portuguese, Italian and Romanian): DISTEMIST-English, DISTEMIST-Italian, DISTEMIST-French, DISTEMIST-Portuguese, DISTEMIST-Catalan and DISTEMIST-Romanian._

[2022-04-23 15:01] WojciechKusa opened #510 "Annotation file in different folder than the txt file for BRAT parser"
As far as I understand, the current BRAT parser implementation assumes that the annotation file is stored in the same folder as the `.txt` file.

https://github.com/bigscience-workshop/biomedical/blob/db763955a64cabe8fe30700c30d2dbb017fc995f/utils/parsing.py#L149

This is not true for the [EBM-NLP](https://github.com/bepnye/EBM-NLP) dataset.

As I only found one such dataset, this is probably a ve

[2022-04-23 23:48] #175 closed

[2022-04-24 09:22] albertvillanova commented on #22
#self-assign

[2022-04-24 16:36] karthikrangasai commented on #236
#self-assign

[2022-04-24 22:55] napsternxg commented on #119
@jason-fries please find the PR: #515

[2022-04-24 23:41] #50 closed

[2022-04-25 00:14] napsternxg commented on #67
Details on the paper:

[code]
The corpus is licensed under the Creative Commons License Attribution-ShareAlike 4.0 International. Hence, I have downloaded it and uploaded it in `tar.gz` format here for usage in the data loader.

[MoNERo.tar.gz](https://github.com/bigscience-workshop/biomedical/files/8550757/MoNERo.tar.gz)

The dataset doesn't have any offsets information hence I am going to make a

[2022-04-25 02:01] napsternxg commented on #67
Added PR: #516

[2022-04-25 02:09] napsternxg commented on #27
#self-assign

[2022-04-25 05:24] jason-fries commented on #15
@abhinavkashyap  Yup!
- You can use the existing implementation to see if it accurately implements the `source` schema (sometimes implementations in the hub don't reflect the source schema accurately!)
- Implement the `bigbio` schema view

[2022-04-25 05:45] jason-fries commented on #39
Hi @clancyoftheoverflow
Any progress over the weekend :)

[2022-04-25 10:26] karthikrangasai commented on #504
#self-assign

[2022-04-25 14:44] albertvillanova commented on #23
#self-assign

[2022-04-26 04:45] #252 closed

[2022-04-26 07:48] MFreidank commented on #234
#self-assign

[2022-04-26 16:21] Bharat123rox commented on #170
Sorry, I still remain swamped with work and it looks like the sprint deadline is quite close, so I have unassigned myself

[2022-04-26 23:51] #43 closed

[2022-04-27 04:58] #22 closed

[2022-04-27 05:06] napsternxg commented on #113
Downloaded the files from CVS and uploading it here for usage. We can later move it to HF datasets and update the URL in the code.
[PatentAnnotations_GoldStandard.tar.gz](https://github.com/bigscience-workshop/biomedical/files/8568960/PatentAnnotations_GoldStandard.tar.gz)

[2022-04-27 05:13] #504 closed

[2022-04-27 05:19] #23 closed

[2022-04-27 05:27] #505 closed

[2022-04-27 05:37] qanastek commented on #338
I already have implemented it https://huggingface.co/datasets/qanastek/EMEA-V3

[2022-04-28 13:40] napsternxg commented on #113
Added PR: #525

[2022-04-28 20:15] qanastek commented on #429
#self-assign

[2022-04-30 05:50] napsternxg commented on #59
Added PR: #530

[2022-05-01 14:39] sunnnymskang commented on #25
@SamuelCahyawijaya @galtay @hakunanatasha unit tests failing on bigbio_schema; please advise whether this is an unexpected behavior

[2022-05-01 14:57] #64 closed

[2022-05-01 21:02] sunnnymskang commented on #388
@nomisto @hakunanatasha The dataset fails to pass unit test. The log is provided below:

[2022-05-01 23:17] sunnnymskang commented on #17
@jason-fries running unit tests seems to be failing  on 4b_bigbio_schema - Would you mind taking a look at this?

[2022-05-02 03:07] galtay commented on #17
I get a few globally_unique_id test fails on my end too when running the tests now

[2022-05-02 06:12] SamuelCahyawijaya commented on #25
Hi @sunnnymskang, just wondering whether it is caused by the datasets package version problem. Before we have a similar issue for `pqaa` and `pqau` data split which we have discussed [here](https://github.com/bigscience-workshop/biomedical/pull/357).

We need to upgrade the dependency to `datasets>=2.0.0` since there is a `datasets` package bug with the google drive link download as mentioned [her

[2022-05-02 06:40] nomisto commented on #388
Hi @sunnnymskang , I think what happened here is that you terminated the dowload when it was not finished previously, thus you get the `Unterminated string` error since the file was only partially downloaded.

Could you try wiping your cache and redownload (I know this is a little painful because of the slow download rate)?
If you don't want to wipe your whole cache you can try adding `download_mo

[2022-05-02 07:06] nomisto commented on #388
Proof :grin:

[code]

[2022-05-02 08:03] nomisto commented on #162
I am currently doing QA for this dataset and I ran into several issues:

1. Unit test fail because the data could not be downloaded (Would be fixed with #532)
2. The source data seems to have several flaws which result in wrong examples
    1. [Term Pairs](https://nlp.cs.vcu.edu/data/similarity-data/MiniMayoSRS.terms) and [physician judgments](https://nlp.cs.vcu.edu/data/similarity-data/MiniMayoSR

[2022-05-02 15:57] masapasa commented on #172
I cant find the cadec dataset on huggingface

[2022-05-02 16:11] #400 closed

[2022-05-03 07:40] nomisto commented on #44
Hi @sunnnymskang , I did some QA on this dataset and I wonder if this is really the homepage of the dataset https://biocreative.bioinformatics.udel.edu/tasks/biocreative-vi/track-5/ ? I did some search and couldn't link the dataset to the homepage, do you know more about this?

[2022-05-03 10:27] #120 closed

[2022-05-03 14:38] trishalaneeraj commented on #162
Hi @nomisto, did something change with the requirements of the tests? I did confirm that all tests passed on my end before submitting my PR. Here are the logs -

`(bigscience-biomedical) ➜  biomedical git:(minimayosrs) python -m tests.test_bigbio biodatasets/minimayosrs/minimayosrs.py
INFO:__main__:args: Namespace(path='biodatasets/minimayosrs/minimayosrs.py', schema=None, subset_id=None, data_dir

[2022-05-03 14:53] nomisto commented on #162
Hi @trishalaneeraj,
Regarding 1.: It is weird that you could download the files. For me it threw an error
[code]
Thats because for me the script downloads a html file rather than the resource. This is because if you haven't accept cookies it automatically redirects you to a webpage where you have to accept them. Maybe they introduced the "accept cookie" redirection inbetween or you could download

[2022-05-03 17:52] tanmaylaud commented on #41
#self-assign

[2022-05-04 08:23] #255 closed

[2022-05-04 23:31] GullyBurns commented on #496
#self-assign

[2022-05-05 21:55] napsternxg commented on #27
Added PR #547

[2022-05-06 03:27] SamuelCahyawijaya commented on #62
Hello, I have a problem downloading this dataset:
[code]

For me the following link works to download the corpus, and not the others, any thought on this?
https://master.dl.sourceforge.net/project/bionlp-corpora/CRAFT/v2.0/craft-2.0.tar.gz?viasf=1

[2022-05-06 11:03] HallerPatrick commented on #62
Hey, the URL in use is following: https://github.com/bigscience-workshop/biomedical/blob/f113917b2a65eab8ef295584169bc03bc6a5c658/biodatasets/nagel/nagel.py#L67

Hope this helps :)

[2022-05-09 19:37] HallerPatrick commented on #62
@SamuelCahyawijaya, sorry I currently don't have the setup for this dataset, but as far as I know, should you pass the directory name to the `load_dataset` function like such:

 `load_dataset("<dataset", ..., data_dir="/dir/to/dataset")`

 Hope this helps :)

[2022-05-13 00:48] galtay opened #577 "nagel dataset download is broken"
https://github.com/bigscience-workshop/biomedical/blob/master/bigbio/biodatasets/nagel/nagel.py#L68

the url appears to be behind some download manager that prevents it from programmatically being accessed.

[2022-05-13 00:53] galtay opened #578 "pcr download is broken"
https://github.com/bigscience-workshop/biomedical/blob/master/bigbio/biodatasets/pcr/pcr.py#L54

[2022-05-13 01:08] galtay opened #579 "seth corpus is broken due to undefined ENTITY_TYPES variable"
https://github.com/bigscience-workshop/biomedical/blob/master/bigbio/biodatasets/seth_corpus/seth_corpus.py#L222

fyi
@leonweber @sg-wbi

[2022-05-14 17:00] galtay commented on #579
fixed by #582

[2022-05-14 17:00] #579 closed

[2022-05-15 22:51] #29 closed

[2022-05-15 23:39] #73 closed

[2022-05-17 08:13] sg-wbi commented on #578
I have a copy of the dataset. I'll make it local for now since no license information is provided

[2022-05-17 14:35] rosalinesway opened #586 "Potential Authorship Contributions"
Hi @GullyBurns and @tonifuc3m! Thanks for contributing to the hackathon! Currently, we will only _acknowledge_ participants who have implemented < 3 datasets. Would you be willing to implement 2 more datasets (of the 29 outstanding datasets) if you have the bandwidth? That will make sure you can meet the authorship threshold. The deadline to do so is to raise 2 more PRs by **next week**. 
Let me k

[2022-05-17 18:45] shamikbose commented on #429
#self-assign

[2022-05-17 20:39] benjaminbeilharz commented on #258
#self-assign

[2022-05-17 21:23] benjaminbeilharz commented on #15
#self-assign

[2022-05-18 07:34] benjaminbeilharz commented on #234
#self-assign

[2022-05-18 09:36] benjaminbeilharz commented on #234
@jason-fries Just filed a PR: https://github.com/bigscience-workshop/biomedical/pull/590

[2022-05-18 20:03] #258 closed

[2022-05-18 21:01] #15 closed

[2022-05-19 17:56] #248 closed

[2022-05-20 03:44] galtay opened #596 "bc5cdr normalizations have -1s"
https://github.com/bigscience-workshop/biomedical/blob/master/bigbio/biodatasets/bc5cdr/bc5cdr.py#L222

I think we want something else here.

[2022-05-20 03:59] galtay opened #597 "bc5cdr drug/chemical counts dont match paper"
When I count the number of chemical and disease entities in the different splits of bc5cdr, I get different numbers than what is reported in the paper and in BLURB

from BLURB
[code]

vs from bigbio dataset
[code]

[code]

some of these are approximately 5% off in terms of counts

[2022-05-20 10:19] sg-wbi opened #604 "Add dataloader for DDXPlus"
## Adding a Dataset
- **Name:** *DDXPlus*
- **Description:** *A new Dataset for Medical Automatic Diagnosis*
- **Task:** *NA*
- **Paper:** *[link to the dataset paper if available](https://arxiv.org/abs/2205.09148)*
- **Data:** *[link to the Github repository or current dataset location](https://github.com/bruzwen/ddxplus)*
- **License:** *NA*
- **Motivation:** *New task?*

[2022-05-21 01:54] jason-fries commented on #597
@galtay Interesting. I think there is a mismatch between how entities and represented in BioC.xml files and PubTator files -- there might be some double counting on mentions going in in BioX. Our BigBio implementation uses BioC but in prior work I've used the PubTator files. You can see in this [Trove tutorial notebook](https://github.com/som-shahlab/trove/blob/main/tutorials/3_Weakly_Supervised_N

[2022-05-21 06:05] jason-fries opened #605 "CRITICAL - Authorship Information Required"
Dear Hackathon Participants,
To receive authorship credit on our forthcoming dataset manuscript, we need all contributors to complete the following
- Add your preferred name, contact information, and affiliation to our [Contributor Spreadsheet](https://docs.google.com/spreadsheets/d/1_rMzNXiO9_DUy9hTYj1vpOvz7KcETGiQjuCBvn-KM0s/edit?usp=sharing)
- Make certain you have an https://openreview.net/ ac

[2022-05-21 06:53] sidkiblawi commented on #605
Do we just add our contact info in the “ACL Workshop” sheet or is there a
different place you’d rather have it?

On Fri, May 20, 2022 at 11:05 PM Jason Alan Fries ***@***.***>
wrote:

[2022-05-21 15:13] ruisi-su opened #607 "Create a dataset loader for GENIA PTM event corpus"
## Adding a Dataset
- **Name:** GENIA PTM event corpus
- **Description:** *extraction of multiple PTM types at once in a unified framework.*
- **Task:** *NER*
- **Paper:** *[paper](https://aclanthology.org/W11-0215.pdf)*
- **Data:** *[data](http://www.geniaproject.org/other-corpora/ptm-event-corpus)*
- **License:** *CC BY 3.0*
- **Motivation:** *this dataset used in inBoXBART*

[2022-05-21 15:28] ruisi-su opened #608 "Create a dataset loader for GAD corpus"
## Adding a Dataset
- **Name:** *Genetic Association Database Corpus*
- **Description:** *a corpus identifying associations between genes and diseases by a semi-automatic annotation procedure based on the Genetic Association Database*
- **Task:** *RE*
- **Paper:** *[paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4466840/)*
- **Data:** *[data](https://drive.google.com/file/d/1-jDKGcXREb2X9xTFn

[2022-05-21 15:55] ruisi-su opened #609 "Create a dataset load for Medical Drugs Sentiment Analysis Corpus"
## Adding a Dataset
- **Name:** *Medical Drugs*
- **Description:** *Medical Drugs Sentiment Analysis with Multi-classes*
- **Task:** *Text Classification*
- **Data:** *[data](https://www.kaggle.com/datasets/arbazkhan971/analyticvidhyadatasetsentiment)*
- **License:** *Unknown*
- **Motivation:** *part of InBoXBART training dataset*

[2022-05-21 17:17] shamikbose commented on #609
@ruisi-su I can try and handle this dataloader. What should it be named? Also, I noticed it's marked High Priority. Is there a date you need this by?

[2022-05-21 17:20] ruisi-su commented on #609
@shamikbose That will be great! Ideally we would want this by next week as well. It was named as just "medical drugs" in the paper. @jason-fries any preference on naming conventions on this dataset?

[2022-05-21 17:22] shamikbose commented on #609
#self-assign

[2022-05-21 23:42] jason-fries commented on #609
@ruisi-su @shamikbose
Sheesh this dataset is a real mystery! Almost no information provided (where did it come from, who labeled it, licensing, etc.) For matching `InBoXBART` I guess we have to include it, so let's proceed with implementing and using the  "medical drugs" name per the paper.

[2022-05-22 00:31] #234 closed